dify-workflows/1-首次资产盘点流.dsl.yml
app:
  description: 首次资产盘点流——从零开始，按四个维度逐步收集用户底牌，完成后通知后端调用报告生成流。
  icon: 🟢
  icon_background: '#E8F5E9'
  mode: advanced-chat
  name: 资产盘点-首次盘点
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前盘点阶段
    id: 41000000-0000-4000-8000-000000000001
    name: inventory_stage
    selector:
    - conversation
    - inventory_stage
    value: opening
    value_type: string
  - description: 已确认的资产画像快照
    id: 41000000-0000-4000-8000-000000000002
    name: profile_snapshot
    selector:
    - conversation
    - profile_snapshot
    value: ''
    value_type: string
  - description: 四个维度的小报告累计
    id: 41000000-0000-4000-8000-000000000003
    name: dimension_reports
    selector:
    - conversation
    - dimension_reports
    value: ''
    value_type: string
  - description: 下一问
    id: 41000000-0000-4000-8000-000000000004
    name: next_question
    selector:
    - conversation
    - next_question
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 41000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      我们来正式盘一下你的底牌。
      这不是一次填表，是一场至少 30 分钟的深度对话。
      我会陪你从五个维度慢慢盘：热爱与价值观、能力、资源、认知、关系。
      每完成一个维度，我会先给你一个小报告，你来确认准不准、有没有要补的，再往下一步走。
      先从最近 3-5 年里，你做成过的一件具体事情说起。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4100000001-source-4100000002-target
      source: '4100000001'
      sourceHandle: source
      target: '4100000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4100000002-source-4100000004-target
      source: '4100000002'
      sourceHandle: source
      target: '4100000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-ready-4100000005-target
      source: '4100000004'
      sourceHandle: ready_case
      target: '4100000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-false-4100000006-target
      source: '4100000004'
      sourceHandle: 'false'
      target: '4100000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 来自主对话流的用户背景摘要
          default: ''
          hint: '后端在从主对话流切换过来时注入，帮助盘点流了解上下文'
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: intake_summary
        - label: 当前盘点阶段
          default: opening
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: current_stage
        - label: 当前资产画像快照
          default: ''
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_profile_snapshot
        - label: 当前维度小报告
          default: ''
          max_length: 8000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_dimension_reports
        - label: 当前下一问
          default: ''
          max_length: 2000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_next_question
        - label: 当前报告摘要
          default: ''
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_report_brief
      height: 120
      id: '4100000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: first-inv-sys-001
          role: system
          text: |-
            你是"一树"的深度资产盘点教练（参考《Ikigai》《StrengthsFinder 2.0》《Range》）。
            老朋友口吻，懂创业、懂人性，用真实案例把人从空泛自评里拽出来。温和但不迎合，允许沉默，不追快。

            定位：≥30 分钟 / ≥15 轮 / 每维度 ≥3 轮，宁慢勿跳。用户想草草收尾时温和坚持"这块我还想多听一层"。

            背景摘要（仅破冰参考，不等于已确认资产）：
            {{#4100000001.intake_summary#}}

            当前状态（后端合并后的最新值）：
            - 阶段：{{#4100000001.current_stage#}}
            - 快照：{{#4100000001.current_profile_snapshot#}}
            - 小报告：{{#4100000001.current_dimension_reports#}}

            ## 五大资产维度

            1. 能力：技能 / 动作 / 解决手法（从真实行为提炼）
            2. 资源：渠道 / 货源 / 工具 / 权限 / 可调动的人和物
            3. 认知：行业理解 / 判断 / 信息差 / 方法论 / 跨界复利
            4. 关系：信任网 / 熟人 / 圈层 / 遇难会出手的人
            5. 热爱与价值观：真正在意的事 / 价值观底色 / "没回报也愿意做"

            ## 阶段机

            opening → passion_values → ability → resource → cognition → relationship → ready_for_report
            特殊：correction_loop

            - opening：破冰，取 1-2 个真实案例
            - passion_values：热爱与价值观（可追问"愿意熬夜做的事""最看不惯什么""无回报还会做的事"）
            - ability：能力，从行为提炼优势主题（执行 / 影响 / 战略 / 关系）
            - resource：资源
            - cognition：认知，重点挖跨界复利
            - relationship：关系
            - ready_for_report：五大维度全完成、均已与用户对齐、总轮数 ≥15 且未触发纠偏
            - correction_loop：无具体案例 / 五维不足 2 个中等以上 / 全是兴趣和通用能力 / 无付费信号。触发后 followup_message 必须明确指出问题，只做两类动作——强制补真实案例、或建议缩小范围。

            每个维度完成后的小报告与对齐动作统一由下方"对齐规则"管理。

            ## 维度完成与对齐规则

            维度小报告输出时：followup_message 先输出【XX资产小报告】全文 + 一句自然过渡（不含问句），next_question 问"这样准不准？有要补的吗？"；仅当用户确认或补充后 stage 才推进，未对齐前保持在当前维度；用户补充新信息时，先合并进快照和小报告，再问一次是否 OK。

            ## 资产判定

            核心资产须满足 ≥2 项：可重复使用 / 市场验证 / 可转化收入 / 不完全依赖时间
            兴趣、努力、学历证书、通用基础能力 ≠ 核心资产。高杠杆 > 时间型。
            重点识别用户常低估的：组合能力、跨界经验、信息优势、可快速调用资源。

            强可变现能力须满足 ≥3 项：明确用户群 / 有痛点 / 市场已有付费 / 能交付结果而非过程 / 不易被替代
            仅满足 1-2 项 = 潜力项。基础沟通、基础执行、普通勤奋不算强可变现。

            ## 对话规则

            - 只问真实行为，模糊时追问时间 / 场景 / 动作 / 结果
            - 每轮 1 问，只追当前维度；先案例 → 提炼 → 判断
            - 自我否定时指出具体优势，发散时收敛 ≤3 个核心

            ## 小报告格式（五维通用）

            【XX资产小报告】
            - 已识别资产：
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络 / 热爱底色：
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：
            - 初步变现性：强 / 中 / 弱（热爱与价值观维度可填"方向性：强 / 中 / 弱"）
            - 当前判断：

            ## Patch 规则

            只保留用户明确说过的，不脑补，不丢失已确认信息。
            profile_snapshot_patch 只返回本轮新增或需要改写的标题段落，不要把没变化的标题段整段重写。
            profile_snapshot_patch 的标题只能来自固定结构：【真实案例】【热爱与价值观】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【跨界复利线索】【内部判断】
            dimension_reports_patch 只返回本轮新增或需要改写的小报告段落；没变化时返回 ""。
            report_brief_patch 只在 ready_for_report 或需要明显修订摘要时填写，否则返回 ""。

            ## 阶段输出分工

            - 收集中：followup_message 做简短复述 / 共情 / 过渡，不含问句；next_question 放 1 个关键追问
            - 维度刚完成：followup_message 输出该维度小报告 + 过渡总结，不含问句；next_question 放对齐问题
            - 用户确认对齐后：followup_message 简短承接"好，我们继续"，next_question 放下一维度的第 1 个关键问题
            - ready_for_report：report_brief_patch 必须包含——五维核心结论、四圈交汇点、优势分型、跨界复利线索、三项核心资产候选、强可变现 vs 潜力项、强纠偏结论

            followup_message 与 next_question 不可重复或同义。不要把 stage、profile_snapshot_patch 等内部字段名暴露给用户。简体中文。
        - id: first-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言复述、过渡语或小报告，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句，若已可出报告则可为空
                type: string
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前阶段
                enum:
                - opening
                - passion_values
                - ability
                - resource
                - cognition
                - relationship
                - ready_for_report
                - correction_loop
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 首次盘点编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4100000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 41000000-cond-4000-8000-000000000001
            value: ready_for_report
            varType: string
            variable_selector:
            - '4100000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否盘点完成
        type: if-else
      height: 125
      id: '4100000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          盘点完成！正在生成你的专属资产报告，请稍候……

          [INVENTORY_COMPLETE]
        selected: false
        title: 通知后端生成报告
        type: answer
        variables: []
      height: 102
      id: '4100000005'
      position:
        x: 1250
        y: 200
      positionAbsolute:
        x: 1250
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4100000002.structured_output.followup_message#}}

          {{#4100000002.structured_output.next_question#}}
        selected: false
        title: 继续追问回复
        type: answer
        variables: []
      height: 102
      id: '4100000006'
      position:
        x: 1250
        y: 420
      positionAbsolute:
        x: 1250
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
