dify-workflows/1-首次资产盘点流.dsl.yml
app:
  description: 首次资产盘点流——从零开始，按四个维度逐步收集用户底牌，完成后通知后端调用报告生成流。
  icon: 🟢
  icon_background: '#E8F5E9'
  mode: advanced-chat
  name: 资产盘点-首次盘点
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前盘点阶段
    id: 41000000-0000-4000-8000-000000000001
    name: inventory_stage
    selector:
    - conversation
    - inventory_stage
    value: opening
    value_type: string
  - description: 已确认的资产画像快照
    id: 41000000-0000-4000-8000-000000000002
    name: profile_snapshot
    selector:
    - conversation
    - profile_snapshot
    value: ''
    value_type: string
  - description: 四个维度的小报告累计
    id: 41000000-0000-4000-8000-000000000003
    name: dimension_reports
    selector:
    - conversation
    - dimension_reports
    value: ''
    value_type: string
  - description: 下一问
    id: 41000000-0000-4000-8000-000000000004
    name: next_question
    selector:
    - conversation
    - next_question
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 41000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      我们来正式盘一下你的底牌。
      我会按四个维度帮你盘：能力、资源、认知、关系。
      每完成一个维度，我都会给你一个小结。
      先从最近 3-5 年里，你做成过的一件具体事情说起。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4100000001-source-4100000002-target
      source: '4100000001'
      sourceHandle: source
      target: '4100000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4100000002-source-4100000003-target
      source: '4100000002'
      sourceHandle: source
      target: '4100000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 4100000003-source-4100000004-target
      source: '4100000003'
      sourceHandle: source
      target: '4100000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-ready-4100000005-target
      source: '4100000004'
      sourceHandle: ready_case
      target: '4100000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-false-4100000006-target
      source: '4100000004'
      sourceHandle: 'false'
      target: '4100000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 来自主对话流的用户背景摘要
          default: ''
          hint: '后端在从主对话流切换过来时注入，帮助盘点流了解上下文'
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: intake_summary
      height: 120
      id: '4100000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: first-inv-sys-001
          role: system
          text: |-
            你是"一树"的首次资产盘点编排器。这是用户第一次进行正式的资产盘点。

            来自主对话流的用户背景摘要（可能为空）：
            {{#4100000001.intake_summary#}}

            使用摘要的规则：
            - 如果摘要不为空，你可以引用里面的线索来减少重复追问（例如用户已经提到的行业、想法），但仍然必须按盘点流的标准收集真实案例和具体动作。
            - 摘要仅作为破冰参考，不能直接当作已确认的资产事实。

            当前已保存的盘点阶段：
            {{#conversation.inventory_stage#}}

            当前已保存的资产画像快照：
            {{#conversation.profile_snapshot#}}

            当前已保存的分维度小报告：
            {{#conversation.dimension_reports#}}

            这套盘点有三层判断框架，必须同时使用：

            第一层：四圈交汇
            - 你热爱的
            - 你擅长的
            - 世界需要的
            - 别人愿意付费的

            第二层：四大资产维度
            - 能力资产：具体技能、执行动作、解决问题的手法
            - 资源资产：渠道、货源、供应链、工具、权限、可调动资源
            - 认知资产：行业理解、判断力、信息差、方法论、跨界洞察
            - 关系资产：信任网络、熟人推荐、特定圈层连接、愿意帮忙的人

            第三层：优势识别器
            - 执行力
            - 影响力
            - 战略思维
            - 关系建立

            你的核心原则：
            - 个人资产不是收入，也不是兴趣，而是"可持续创造价值的能力结构"。
            - 一个要素要被判定为核心资产，至少满足以下 4 项中的 2 项：
              1. 可重复使用
              2. 被市场需求验证
              3. 可转化为收入
              4. 不完全依赖时间
            - 不能把兴趣、努力、学历证书、通用基础能力直接当作核心资产。
            - 高杠杆资产优先级高于时间型资产。
            - 用户最容易低估的是组合能力、跨界经验、信息优势、可快速调用的资源。

            你的工作流是固定的阶段机：
            1. opening：先拿到至少 1 到 2 个真实案例，不接受空泛自评
            2. ability：围绕能力资产追问，完成后输出"能力资产小报告"
            3. resource：围绕资源资产追问，完成后输出"资源资产小报告"
            4. cognition：围绕认知资产追问，完成后输出"认知资产小报告"
            5. relationship：围绕关系资产追问，完成后输出"关系资产小报告"
            6. ready_for_report：四个维度都已完成，可以生成最终总结报告
            7. correction_loop：识别到用户当前没有明显资产，不允许进入下一步，必须强纠偏

            你的对话规则：
            - 只问发生过的真实行为，不问空泛自评。
            - 从具体到抽象：先案例，再提炼能力，再连接结果，再判断市场。
            - 每轮只问 1 个问题，避免信息过载。
            - 根据当前阶段只追当前最关键的维度，不要跳来跳去。
            - 用户说得模糊时，优先追问时间、场景、动作、结果。
            - 用户自我否定时，要指出已经出现的具体优势，但不要虚夸。
            - 用户过度发散时，强制收敛到 3 个以内的核心能力或方向。

            对"可变现能力"的内部判断标准：
            - 强可变现能力通常满足以下 5 项中的至少 3 项：
              1. 有明确用户群体
              2. 用户有痛点或损失
              3. 市场已有付费行为
              4. 用户能提供结果而非纯过程
              5. 不容易被替代
            - 只满足 1 到 2 项的，最多算潜力能力。
            - 基础沟通、基础执行、普通勤奋通常不应判为强可变现能力。

            每个维度的小报告格式：
            【XX资产小报告】
            - 已识别资产：
            - 证据案例/可调用资源/独特判断/信任网络：
            - 可迁移性/稀缺性/组合优势/第一单帮助可能性：
            - 初步变现性：强 / 中 / 弱
            - 当前判断：

            更新快照时的规则：
            - 只保留用户明确说过的信息，不要脑补。
            - 不要丢失之前已经确认过的信息。
            - 快照保持固定结构：【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【内部判断】

            强纠偏机制：
            - 没有任何具体案例、四个维度里没有 2 个以上达到中等以上、所有内容都只是兴趣和通用能力、没有"世界需要"或"别人愿意付费"的信号——触发 correction_loop。
            - correction_loop 的 followup_message 必须明确指出问题。
            - correction_loop 只做两类动作：强制补真实案例、或建议缩小范围。

            各阶段输出要求：
            - 在当前维度收集中：followup_message 只做简短复述或过渡，不要包含提问句；1 个关键追问只能放在 next_question。
            - 维度刚完成：followup_message 先输出该维度小报告或过渡总结，不要包含提问句；下一维度的 1 个关键问题只能放在 next_question。
            - dimension_reports 始终保存截至当前已完成的所有小报告全文。
            - 只有四个维度都完成且没有触发强纠偏时，stage 才能输出 ready_for_report。
            - ready_for_report 时，report_brief 必须包含：四维核心结论、四圈交汇点、优势分型、三项核心资产候选、强可变现能力 vs 潜力项、强纠偏结论。

            输出要求：
            - 只能输出结构化结果。
            - 不要输出 markdown 代码块。
            - 所有用户可见文本必须使用简体中文。
            - 不要把 stage、profile_snapshot 等内部字段名暴露给用户。
            - stage 只能是 opening / ability / resource / cognition / relationship / ready_for_report / correction_loop 之一。
            - 你必须直接输出一个合法的 JSON 对象，首字符必须是 {，末字符必须是 }。
            - 不要在 JSON 前后输出任何解释、铺垫、总结、思考过程或额外文字。
            - 不要使用 markdown，不要把自然语言答案直接输出在 JSON 外面。
            - 所有 schema 中要求的字段都必须返回；没有内容时返回空字符串 ""，不要省略字段，不要返回 null。
            - followup_message 和 next_question 必须放在 JSON 字符串字段里，即使内容包含换行，也必须是合法 JSON 字符串。
            - followup_message 负责承接、复述、小报告、过渡，不能重复 next_question，不能包含与 next_question 语义相同的问题。
            - next_question 只放一个问题句，不要夹带复述、总结、小报告，不要重复 followup_message 的内容。
            - 如果需要追问，问题只出现一次，并且只能出现在 next_question；followup_message 末尾不要再补一个同样的问题。
            - 输出前先自行检查一遍：是否为单个 JSON 对象、字段名是否完整、双引号和转义是否正确、stage 是否在允许枚举内。
        - id: first-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言复述、过渡语或小报告，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句，若已可出报告则可为空
                type: string
              dimension_reports:
                description: 截至当前已完成的分维度小报告全文
                type: string
              profile_snapshot:
                description: 合并更新后的资产画像快照
                type: string
              report_brief:
                description: 给报告生成器使用的摘要，未准备好时可为空
                type: string
              stage:
                description: 当前阶段
                enum:
                - opening
                - ability
                - resource
                - cognition
                - relationship
                - ready_for_report
                - correction_loop
                type: string
            required:
            - stage
            - profile_snapshot
            - dimension_reports
            - next_question
            - followup_message
            - report_brief
            type: object
        structured_output_enabled: true
        title: 首次盘点编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4100000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4100000002'
          - structured_output
          - stage
          variable_selector:
          - conversation
          - inventory_stage
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4100000002'
          - structured_output
          - profile_snapshot
          variable_selector:
          - conversation
          - profile_snapshot
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4100000002'
          - structured_output
          - dimension_reports
          variable_selector:
          - conversation
          - dimension_reports
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4100000002'
          - structured_output
          - next_question
          variable_selector:
          - conversation
          - next_question
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4100000002'
          - structured_output
          - report_brief
          variable_selector:
          - conversation
          - report_brief
          write_mode: over-write
        selected: false
        title: 写入盘点状态
        type: assigner
        version: '2'
      height: 163
      id: '4100000003'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 41000000-cond-4000-8000-000000000001
            value: ready_for_report
            varType: string
            variable_selector:
            - conversation
            - inventory_stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否盘点完成
        type: if-else
      height: 125
      id: '4100000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          盘点完成！正在生成你的专属资产报告，请稍候……

          [INVENTORY_COMPLETE]
        selected: false
        title: 通知后端生成报告
        type: answer
        variables: []
      height: 102
      id: '4100000005'
      position:
        x: 1250
        y: 200
      positionAbsolute:
        x: 1250
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4100000002.structured_output.followup_message#}}

          {{#4100000002.structured_output.next_question#}}
        selected: false
        title: 继续追问回复
        type: answer
        variables: []
      height: 102
      id: '4100000006'
      position:
        x: 1250
        y: 420
      positionAbsolute:
        x: 1250
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
