dify-workflows/10-项目跟进建议流.dsl.yml
app:
  description: '项目跟进建议流——Advanced Chat。接收项目机会上下文和用户反馈，给出下一步建议，并用 opportunity_update 隐藏块回写项目状态。'
  icon: 🚀
  icon_background: '#E9F8F3'
  mode: advanced-chat
  name: 一树OPC-项目跟进建议流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 项目机会摘要
    id: 50000000-0000-4000-8000-000000000001
    name: project_opportunity_context
    selector:
    - conversation
    - project_opportunity_context
    value: '{}'
    value_type: string
  - description: 项目名
    id: 50000000-0000-4000-8000-000000000002
    name: project_name
    selector:
    - conversation
    - project_name
    value: ''
    value_type: string
  - description: 当前机会阶段
    id: 50000000-0000-4000-8000-000000000003
    name: opportunity_stage
    selector:
    - conversation
    - opportunity_stage
    value: ''
    value_type: string
  - description: 决策状态
    id: 50000000-0000-4000-8000-000000000004
    name: decision_status
    selector:
    - conversation
    - decision_status
    value: ''
    value_type: string
  - description: 机会快照
    id: 50000000-0000-4000-8000-000000000005
    name: opportunity_snapshot
    selector:
    - conversation
    - opportunity_snapshot
    value: '{}'
    value_type: string
  - description: 机会评分
    id: 50000000-0000-4000-8000-000000000006
    name: opportunity_score
    selector:
    - conversation
    - opportunity_score
    value: '{}'
    value_type: string
  - description: 最近验证信号
    id: 50000000-0000-4000-8000-000000000007
    name: last_validation_signal
    selector:
    - conversation
    - last_validation_signal
    value: ''
    value_type: string
  - description: 下一步验证动作
    id: 50000000-0000-4000-8000-000000000008
    name: next_validation_action
    selector:
    - conversation
    - next_validation_action
    value: ''
    value_type: string
  - description: 最近 artifact
    id: 50000000-0000-4000-8000-000000000009
    name: recent_artifacts
    selector:
    - conversation
    - recent_artifacts
    value: '[]'
    value_type: string
  - description: 最近反馈
    id: 50000000-0000-4000-8000-000000000010
    name: recent_feedback
    selector:
    - conversation
    - recent_feedback
    value: '[]'
    value_type: string
  - description: 项目草稿
    id: 50000000-0000-4000-8000-000000000011
    name: project_workspace
    selector:
    - conversation
    - project_workspace
    value: '{}'
    value_type: string
  environment_variables: []
  features:
    file_upload: { enabled: false }
    opening_statement: ''
    retriever_resource: { enabled: false }
    sensitive_word_avoidance: { enabled: false }
    speech_to_text: { enabled: false }
    suggested_questions: []
    suggested_questions_after_answer: { enabled: false }
    text_to_speech: { enabled: false, language: '', voice: '' }
  graph:
    edges:
    - data: { isInLoop: false, sourceType: start, targetType: llm }
      id: 5000000001-source-5000000002-target
      source: '5000000001'
      sourceHandle: source
      target: '5000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data: { isInLoop: false, sourceType: llm, targetType: answer }
      id: 5000000002-source-5000000003-target
      source: '5000000002'
      sourceHandle: source
      target: '5000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 跟进输入
        type: start
        variables:
        - label: 项目机会上下文
          default: '{}'
          hint: '后端注入'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: project_opportunity_context
        - label: 项目名
          default: ''
          hint: '后端注入'
          max_length: 120
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: project_name
        - label: 当前阶段
          default: ''
          hint: '后端注入'
          max_length: 64
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: opportunity_stage
        - label: 最近反馈
          default: '[]'
          hint: '后端注入'
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: recent_feedback
        - label: 项目草稿
          default: '{}'
          hint: '后端注入'
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: project_workspace
      height: 260
      id: '5000000001'
      position: { x: 40, y: 300 }
      positionAbsolute: { x: 40, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context: { enabled: false, variable_selector: [] }
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix: { assistant: '', user: '' }
          window: { enabled: true, size: 8 }
        model:
          completion_params: { temperature: 0.45 }
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: followup-sys
          role: system
          text: |-
            你是一树的项目跟进智能体。用户在推进一个轻量商业验证项目。
            你要基于用户刚刚反馈的进展，给出非常具体的下一步建议，避免空泛鼓励。
            回复末尾必须附隐藏块，供后端回写项目状态：
            <opportunity_update>{
              "opportunityStage":"validating",
              "decisionStatus":"selected",
              "lastValidationSignal":"这次反馈的关键信号",
              "lastValidationAt":"ISO时间，可留空",
              "nextValidationAction":"下一步最小动作",
              "nextValidationActionAt":"ISO时间，可留空",
              "opportunityScore":{"totalScore":0-100,"confidence":0-100,"dimensionScores":{},"reasoning":[]},
              "opportunitySnapshot":{"targetUser":"","corePain":"","valueHypothesis":"","scenario":"","evidenceSummary":"","whyNow":""}
            }</opportunity_update>
            只更新你有把握的字段，不要编造用户没有说过的证据。
        - id: followup-user
          role: user
          text: |-
            项目机会上下文：
            {{#5000000001.project_opportunity_context#}}
            {{#conversation.project_opportunity_context#}}

            最近反馈：
            {{#5000000001.recent_feedback#}}
            {{#conversation.recent_feedback#}}

            项目草稿：
            {{#5000000001.project_workspace#}}
            {{#conversation.project_workspace#}}

            项目名：{{#conversation.project_name#}}
            当前阶段：{{#conversation.opportunity_stage#}}
            决策状态：{{#conversation.decision_status#}}
            机会快照：
            {{#conversation.opportunity_snapshot#}}
            机会评分：
            {{#conversation.opportunity_score#}}
            最近验证信号：{{#conversation.last_validation_signal#}}
            下一步验证动作：{{#conversation.next_validation_action#}}
            最近 artifacts：
            {{#conversation.recent_artifacts#}}
        selected: false
        title: 跟进建议器
        type: llm
        vision: { enabled: false }
      height: 87
      id: '5000000002'
      position: { x: 350, y: 300 }
      positionAbsolute: { x: 350, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#5000000002.text#}}'
        selected: false
        title: 跟进回复
        type: answer
      height: 107
      id: '5000000003'
      position: { x: 660, y: 300 }
      positionAbsolute: { x: 660, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport: { x: 40, y: 20, zoom: 0.9 }
  rag_pipeline_variables: []
