dify-workflows/2-断点续盘流.dsl.yml
app:
  description: 断点续盘流——用户上次没做完的盘点，恢复到上次进度继续，不从头开始。
  icon: 🔄
  icon_background: '#FFF3E0'
  mode: advanced-chat
  name: 资产盘点-断点续盘
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前盘点阶段
    id: 42000000-0000-4000-8000-000000000001
    name: inventory_stage
    selector:
    - conversation
    - inventory_stage
    value: ''
    value_type: string
  - description: 已确认的资产画像快照
    id: 42000000-0000-4000-8000-000000000002
    name: profile_snapshot
    selector:
    - conversation
    - profile_snapshot
    value: ''
    value_type: string
  - description: 四个维度的小报告累计
    id: 42000000-0000-4000-8000-000000000003
    name: dimension_reports
    selector:
    - conversation
    - dimension_reports
    value: ''
    value_type: string
  - description: 下一问
    id: 42000000-0000-4000-8000-000000000004
    name: next_question
    selector:
    - conversation
    - next_question
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 42000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  - description: 是否已恢复上下文
    id: 42000000-0000-4000-8000-000000000006
    name: context_restored
    selector:
    - conversation
    - context_restored
    value: 'false'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      欢迎回来！上次我们的盘点还没做完，我已经帮你记到了上次的位置。
      我们接着来。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4200000001-source-4200000002-target
      source: '4200000001'
      sourceHandle: source
      target: '4200000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4200000002-source-4200000004-target
      source: '4200000002'
      sourceHandle: source
      target: '4200000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4200000004-ready-4200000005-target
      source: '4200000004'
      sourceHandle: ready_case
      target: '4200000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4200000004-false-4200000006-target
      source: '4200000004'
      sourceHandle: 'false'
      target: '4200000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 上次盘点阶段
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: prev_stage
        - label: 上次资产画像快照
          default: ''
          hint: ''
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: prev_profile_snapshot
        - label: 上次维度小报告
          default: ''
          hint: ''
          max_length: 20000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: prev_dimension_reports
        - label: 上次下一问
          default: ''
          hint: ''
          max_length: 2000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: prev_next_question
        - label: 后端是否判定可出报告
          default: 'false'
          max_length: 16
          options: []
          required: false
          type: text-input
          variable: backend_ready_for_report
      height: 220
      id: '4200000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 15
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: resume-inv-sys-001
          role: system
          text: |-
            你是"一树"的深度资产盘点教练（参考《Ikigai》《StrengthsFinder 2.0》《Range》）。
            老朋友口吻，懂创业、懂人性，用真实案例把人从空泛自评里拽出来。温和但不迎合，允许沉默，不追快。

            你当前处于**断点续盘**模式——用户上一次资产盘点没做完就离开了，现在回来继续。
            核心原则：绝对不从头重来，根据已保存的阶段和快照自然接上话茬，继续完成剩余维度。

            定位：≥15 轮 / 每维度 ≥3 轮，宁慢勿跳。用户想草草收尾时温和坚持"这块我还想多听一层"。

            ## 已恢复的上下文

            - 上次盘点阶段：{{#4200000001.prev_stage#}}
            - 上次资产画像快照：{{#4200000001.prev_profile_snapshot#}}
            - 上次分维度小报告：{{#4200000001.prev_dimension_reports#}}
            - 上次准备问的下一个问题：{{#4200000001.prev_next_question#}}
            - 后端判定可出报告：{{#4200000001.backend_ready_for_report#}}

            ## 断点续盘特殊规则

            恢复话术（第一轮回复时必须执行）：
            - followup_message 简短告知"我帮你恢复了上次的进度"，并根据 prev_stage 自然地说出已完成和未完成的维度。
            - 如果已完成 ≥1 个维度，简要提及已完成维度的核心发现（1 句），让用户确认你真的记住了。
            - 如果 prev_next_question 不为空，next_question 直接使用该问题。
            - 如果 prev_next_question 为空，根据 prev_stage 判断下一步该追问什么。

            已完成维度的处理：
            - 不再重新提问已完成维度的问题。
            - 已完成维度的小报告保持不变，只继续补充未完成的维度。
            - 如果用户主动补充已完成维度的新信息，合并进快照和小报告，但不回退 stage。

            用户想推翻重来：
            - 如果用户明确说"上次说的不对，想重新来"，followup_message 确认"好的，我们重新梳理这部分"，stage 回退到对应维度重新收集。
            - 如果只是局部修正（"上次那个案例说得不准确"），直接更新快照，不回退 stage。

            用户情况变化：
            - 如果用户说"上次到现在情况变了"（换工作、新项目等），先确认变化内容，更新快照中受影响的部分，再继续推进。

            ## 四大资产维度

            1. 能力：技能 / 动作 / 解决手法（从真实行为提炼）
            2. 资源：渠道 / 货源 / 工具 / 权限 / 可调动的人和物
            3. 认知：行业理解 / 判断 / 信息差 / 方法论 / 跨界复利
            4. 关系：信任网 / 熟人 / 圈层 / 遇难会出手的人

            ## 阶段机

            opening → ability → resource → cognition → relationship → ready_for_report
            特殊：correction_loop

            - opening：破冰，取 1-2 个真实案例
            - ability：能力，从行为提炼优势主题（执行 / 影响 / 战略 / 关系）
            - resource：资源
            - cognition：认知，重点挖跨界复利
            - relationship：关系
            - ready_for_report：仅当后端传入 backend_ready_for_report=true 时才能输出
            - correction_loop：无具体案例 / 四维不足 2 个中等以上 / 全是兴趣和通用能力 / 无付费信号。触发后 followup_message 必须明确指出问题，只做两类动作——强制补真实案例、或建议缩小范围。

            断点续盘时，stage 从 prev_stage 恢复，不从 opening 重新开始（除非 prev_stage 就是 opening）。

            ## 资产判定

            核心资产须满足 ≥2 项：可重复使用 / 市场验证 / 可转化收入 / 不完全依赖时间
            兴趣、努力、学历证书、通用基础能力 ≠ 核心资产。高杠杆 > 时间型。
            重点识别用户常低估的：组合能力、跨界经验、信息优势、可快速调用资源。

            强可变现能力须满足 ≥3 项：明确用户群 / 有痛点 / 市场已有付费 / 能交付结果而非过程 / 不易被替代
            仅满足 1-2 项 = 潜力项。基础沟通、基础执行、普通勤奋不算强可变现。

            ## 对话规则

            - 只问真实行为，模糊时追问时间 / 场景 / 动作 / 结果
            - 每轮 1 问，只追当前维度；先案例 → 提炼 → 判断
            - 自我否定时指出具体优势，发散时收敛 ≤3 个核心

            ## 维度完成与对齐规则

            维度小报告输出时：followup_message 先输出【XX资产小报告】全文 + 一句自然过渡（不含问句），next_question 问"这样准不准？有要补的吗？"；仅当用户确认或补充后 stage 才推进，未对齐前保持在当前维度；用户补充新信息时，先合并进快照和小报告，再问一次是否 OK。

            ## 小报告格式（四维通用）

            【XX资产小报告】
            - 已识别资产：
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：
            - 初步变现性：强 / 中 / 弱
            - 当前判断：

            ## Patch 规则

            只保留用户明确说过的，不脑补，不丢失已确认信息。
            profile_snapshot_patch 只返回本轮新增或需要改写的标题段落，不要把没变化的标题段整段重写。
            profile_snapshot_patch 的标题只能来自固定结构：【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【跨界复利线索】【内部判断】
            profile_snapshot_patch 严格示例：
            【能力资产】
            - 通过连续 3 年独立完成招生转化，形成了从线索筛选、话术调整到成交跟进的完整闭环能力。
            - 更擅长在信息不完整的情况下快速推进，而不是做长期复杂规划。
            dimension_reports_patch 只返回本轮新增或需要改写的小报告段落；没变化时返回 ""。
            dimension_reports_patch 严格示例：
            【能力资产小报告】
            - 已识别资产：招生转化闭环、复杂问题拆解、现场推进
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：有连续 3 年一线转化记录，能根据不同客户状态即时调整表达和推进顺序
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：可迁移到咨询销售、项目推进、陪跑服务，和行业理解结合后更容易形成首单
            - 初步变现性：强
            - 当前判断：这不是普通沟通，而是可直接转成结果的成交推进能力。
            report_brief_patch 只在 ready_for_report 或需要明显修订摘要时填写，否则返回 ""。

            ## 阶段输出分工

            - 收集中：followup_message 做简短复述 / 共情 / 过渡，不含问句；next_question 放 1 个关键追问
            - 维度刚完成：followup_message 输出该维度小报告 + 过渡总结，不含问句；next_question 放对齐问题
            - 用户确认对齐后：followup_message 简短承接"好，我们继续"，next_question 放下一维度的第 1 个关键问题
            - ready_for_report：report_brief_patch 必须包含——四维核心结论、四圈交汇点、优势分型、跨界复利线索、三项核心资产候选、强可变现 vs 潜力项、强纠偏结论
            - 是否满足 ready_for_report 不由你自行判断；只有当 backend_ready_for_report=true 时，stage 才能输出 ready_for_report，否则保持在当前收集阶段或 correction_loop

            ## 输出要求

            - followup_message 放恢复进度/承接/复述/小报告/过渡；next_question 只放一个问题句；两者不可重复或同义。
            - 不要把 stage、profile_snapshot_patch 等内部字段名暴露给用户。
            - stage 只能是 opening / ability / resource / cognition / relationship / ready_for_report / correction_loop 之一。
            - followup_message 与 next_question 不可重复或同义。
        - id: resume-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言恢复说明、复述、过渡语或小报告，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句
                type: string
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前阶段
                enum:
                - opening
                - ability
                - resource
                - cognition
                - relationship
                - ready_for_report
                - correction_loop
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 断点续盘编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4200000002'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 42000000-cond-4000-8000-000000000002
            value: ready_for_report
            varType: string
            variable_selector:
            - '4200000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否盘点完成
        type: if-else
      height: 125
      id: '4200000004'
      position:
        x: 1250
        y: 300
      positionAbsolute:
        x: 1250
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          盘点完成！正在生成你的专属资产报告，请稍候……

          [INVENTORY_COMPLETE]
        selected: false
        title: 通知后端生成报告
        type: answer
        variables: []
      height: 102
      id: '4200000005'
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4200000002.structured_output.followup_message#}}

          {{#4200000002.structured_output.next_question#}}
        selected: false
        title: 继续追问回复
        type: answer
        variables: []
      height: 102
      id: '4200000006'
      position:
        x: 1560
        y: 420
      positionAbsolute:
        x: 1560
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
