dify-workflows/2-断点续盘流.dsl.yml
app:
  description: 断点续盘流——用户上次没做完的盘点，恢复到上次进度继续，不从头开始。
  icon: 🔄
  icon_background: '#FFF3E0'
  mode: advanced-chat
  name: 资产盘点-断点续盘
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前盘点阶段
    id: 42000000-0000-4000-8000-000000000001
    name: inventory_stage
    selector:
    - conversation
    - inventory_stage
    value: ''
    value_type: string
  - description: 已确认的资产画像快照
    id: 42000000-0000-4000-8000-000000000002
    name: profile_snapshot
    selector:
    - conversation
    - profile_snapshot
    value: ''
    value_type: string
  - description: 四个维度的小报告累计
    id: 42000000-0000-4000-8000-000000000003
    name: dimension_reports
    selector:
    - conversation
    - dimension_reports
    value: ''
    value_type: string
  - description: 下一问
    id: 42000000-0000-4000-8000-000000000004
    name: next_question
    selector:
    - conversation
    - next_question
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 42000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  - description: 是否已恢复上下文
    id: 42000000-0000-4000-8000-000000000006
    name: context_restored
    selector:
    - conversation
    - context_restored
    value: 'false'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      欢迎回来！上次我们的盘点还没做完，我已经帮你记到了上次的位置。
      我们接着来。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4200000001-source-4200000002-target
      source: '4200000001'
      sourceHandle: source
      target: '4200000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4200000002-source-4200000004-target
      source: '4200000002'
      sourceHandle: source
      target: '4200000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4200000004-ready-4200000005-target
      source: '4200000004'
      sourceHandle: ready_case
      target: '4200000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4200000004-false-4200000006-target
      source: '4200000004'
      sourceHandle: 'false'
      target: '4200000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 上次盘点阶段
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: prev_stage
        - label: 上次资产画像快照
          default: ''
          hint: ''
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: prev_profile_snapshot
        - label: 上次维度小报告
          default: ''
          hint: ''
          max_length: 20000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: prev_dimension_reports
        - label: 上次下一问
          default: ''
          hint: ''
          max_length: 2000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: prev_next_question
      height: 220
      id: '4200000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: resume-inv-sys-001
          role: system
          text: |-
            你是"一树"的断点续盘编排器。用户上一次资产盘点**没做完**就离开了，现在回来继续。

            你的核心任务：
            1. 绝对不能从头开始重新问。
            2. 根据上次保存的阶段和快照，自然地接上话茬。
            3. 继续完成剩余的维度盘点。

            当前已恢复的盘点阶段：
            {{#4200000001.prev_stage#}}

            当前已恢复的资产画像快照：
            {{#4200000001.prev_profile_snapshot#}}

            当前已恢复的分维度小报告：
            {{#4200000001.prev_dimension_reports#}}

            上次准备问的下一个问题：
            {{#4200000001.prev_next_question#}}

            断点续盘的特殊规则：
            - 第一轮回复时，要简短地告知用户"我帮你恢复了上次的进度"，并自然地说出上次盘到了哪个维度。
            - 如果上次的 next_question 不为空，直接把那个问题问出来。
            - 如果上次的 next_question 为空，根据当前 stage 判断下一步该追问什么。
            - 不要再重新问已经完成的维度的问题。
            - 已完成维度的小报告保持不变，只继续补充未完成的维度。

            盘点阶段机（与首次盘点相同）：
            1. opening → 2. passion_values → 3. ability → 4. resource → 5. cognition → 6. relationship → 7. ready_for_report
            8. correction_loop（纠偏）

            对话规则（与首次盘点完全一致）：
            - 只问发生过的真实行为，不问空泛自评。
            - 每轮只问 1 个问题。
            - 根据当前阶段只追当前最关键的维度。
            - 用户说得模糊时，追问时间、场景、动作、结果。

            每个维度完成后，输出对应的小报告，格式与首次盘点一致。

            强纠偏机制（与首次盘点完全一致）：
            - 资产基础不足时触发 correction_loop。

            Patch 规则：
            - profile_snapshot_patch 只返回本轮新增或需要改写的标题段落；未变化时返回 ""。
            - dimension_reports_patch 只返回本轮新增或需要改写的小报告段落；未变化时返回 ""。
            - report_brief_patch 只在 ready_for_report 或需要明显修订摘要时填写，否则返回 ""。

            输出要求：
            - 仅输出单个合法 JSON 对象（首尾为 { }），简体中文，无 markdown，无解释铺垫。
            - 所有 schema 字段必填，无内容填 ""，不要返回 null。
            - followup_message 放恢复进度/承接/复述/小报告/过渡；next_question 只放一个问题句；两者不可重复或同义。
            - 不要把 stage、profile_snapshot_patch 等内部字段名暴露给用户。
            - stage 只能是 opening / ability / resource / cognition / relationship / ready_for_report / correction_loop 之一。
        - id: resume-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言恢复说明、复述、过渡语或小报告，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句
                type: string
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前阶段
                enum:
                - opening
                - passion_values
                - ability
                - resource
                - cognition
                - relationship
                - ready_for_report
                - correction_loop
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 断点续盘编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4200000002'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 42000000-cond-4000-8000-000000000002
            value: ready_for_report
            varType: string
            variable_selector:
            - '4200000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否盘点完成
        type: if-else
      height: 125
      id: '4200000004'
      position:
        x: 1250
        y: 300
      positionAbsolute:
        x: 1250
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          盘点完成！正在生成你的专属资产报告，请稍候……

          [INVENTORY_COMPLETE]
        selected: false
        title: 通知后端生成报告
        type: answer
        variables: []
      height: 102
      id: '4200000005'
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4200000002.structured_output.followup_message#}}

          {{#4200000002.structured_output.next_question#}}
        selected: false
        title: 继续追问回复
        type: answer
        variables: []
      height: 102
      id: '4200000006'
      position:
        x: 1560
        y: 420
      positionAbsolute:
        x: 1560
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
