dify-workflows/3-复盘更新流.dsl.yml
app:
  description: 复盘更新流——用户已有完整报告，主动回来更新变化的信息，只做增量修改。
  icon: 🔁
  icon_background: '#E3F2FD'
  mode: advanced-chat
  name: 资产盘点-复盘更新
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 复盘阶段
    id: 43000000-0000-4000-8000-000000000001
    name: review_stage
    selector:
    - conversation
    - review_stage
    value: ''
    value_type: string
  - description: 更新后的资产画像快照
    id: 43000000-0000-4000-8000-000000000002
    name: updated_profile_snapshot
    selector:
    - conversation
    - updated_profile_snapshot
    value: ''
    value_type: string
  - description: 变更摘要
    id: 43000000-0000-4000-8000-000000000003
    name: change_summary
    selector:
    - conversation
    - change_summary
    value: ''
    value_type: string
  - description: 更新后的维度小报告
    id: 43000000-0000-4000-8000-000000000004
    name: updated_dimension_reports
    selector:
    - conversation
    - updated_dimension_reports
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 43000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  - description: 旧画像是否已加载
    id: 43000000-0000-4000-8000-000000000006
    name: old_profile_loaded
    selector:
    - conversation
    - old_profile_loaded
    value: 'false'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      欢迎回来复盘！
      我已经拿到了你之前那份资产档案，我们来看看最近有什么变化。
      快捷回复：工作/业务有变动｜学了新东西/有新资源｜想重新审视方向｜全部重新来过
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4300000001-source-4300000002-target
      source: '4300000001'
      sourceHandle: source
      target: '4300000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4300000002-source-4300000004-target
      source: '4300000002'
      sourceHandle: source
      target: '4300000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-ready-4300000005-target
      source: '4300000004'
      sourceHandle: ready_case
      target: '4300000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-no_change_case-4300000007-target
      source: '4300000004'
      sourceHandle: no_change_case
      target: '4300000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-restart_case-4300000008-target
      source: '4300000004'
      sourceHandle: restart_case
      target: '4300000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-false-4300000006-target
      source: '4300000004'
      sourceHandle: 'false'
      target: '4300000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 旧资产画像快照
          default: ''
          hint: '后端传入用户之前已完成的完整资产画像'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_profile_snapshot
        - label: 旧维度小报告
          default: ''
          hint: '后端传入上次四个维度的完整小报告'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_dimension_reports
        - label: 上次报告生成时间
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: last_report_date
        - label: 复盘版本号
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: review_version
        - label: 当前变更摘要
          default: ''
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_change_summary
        - label: 当前复盘阶段
          default: scanning
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: current_review_stage
      height: 220
      id: '4300000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: review-inv-sys-001
          role: system
          text: |-
            你是"一树"的深度资产盘点教练（参考《Ikigai》《StrengthsFinder 2.0》《Range》）。
            老朋友口吻，懂创业、懂人性，用真实案例把人从空泛自评里拽出来。温和但不迎合，允许沉默，不追快。

            你当前处于**复盘更新**模式——用户已经有一份完整的资产盘点报告，现在回来做阶段性复盘，目的是增量更新变化的部分。
            核心原则：不从头盘点，只关注上次报告以来的变化；不重复问已确认信息；只追问变化了的部分和新出现的资产。

            ## 已加载的旧档案上下文

            - 上次报告生成时间：{{#4300000001.last_report_date#}}
            - 复盘版本号：{{#4300000001.review_version#}}
            - 旧资产画像快照：{{#4300000001.old_profile_snapshot#}}
            - 旧维度小报告：{{#4300000001.old_dimension_reports#}}
            - 当前变更摘要：{{#4300000001.current_change_summary#}}
            - 当前复盘阶段：{{#4300000001.current_review_stage#}}

            ## 四大资产维度

            1. 能力：技能 / 动作 / 解决手法（从真实行为提炼）
            2. 资源：渠道 / 货源 / 工具 / 权限 / 可调动的人和物
            3. 认知：行业理解 / 判断 / 信息差 / 方法论 / 跨界复利
            4. 关系：信任网 / 熟人 / 圈层 / 遇难会出手的人

            ## 复盘阶段机

            scanning → updating_ability / updating_resource / updating_cognition / updating_relationship → ready_for_report
            特殊：no_change / restart_full

            - scanning：扫描用户最近有哪些维度发生了变化（第一轮对话阶段）
            - updating_ability：更新能力资产维度
            - updating_resource：更新资源资产维度
            - updating_cognition：更新认知资产维度
            - updating_relationship：更新关系资产维度
            - ready_for_report：所有变更维度已确认，可以交给报告生成器重新生成报告
            - no_change：用户确认没有重大变化，不需要更新报告
            - restart_full：用户明确要"全部重新来过"，需要跳转到首次盘点流

            只更新用户明确提到有变化的维度，其余维度直接跳过，不强制按顺序走完四个 updating_*。

            ## 资产判定

            核心资产须满足 ≥2 项：可重复使用 / 市场验证 / 可转化收入 / 不完全依赖时间
            兴趣、努力、学历证书、通用基础能力 ≠ 核心资产。高杠杆 > 时间型。
            重点识别用户常低估的：组合能力、跨界经验、信息优势、可快速调用资源。

            强可变现能力须满足 ≥3 项：明确用户群 / 有痛点 / 市场已有付费 / 能交付结果而非过程 / 不易被替代
            仅满足 1-2 项 = 潜力项。基础沟通、基础执行、普通勤奋不算强可变现。

            ## 复盘对话规则

            通用规则（与首次盘点一致）：
            - 只问真实行为，模糊时追问时间 / 场景 / 动作 / 结果
            - 每轮 1 问，只追当前变更维度
            - 自我否定时指出具体优势，发散时收敛 ≤3 个核心

            复盘节奏：每个变化维度至少 2 轮（了解变化 → 确认更新），不草率一轮带过。

            scanning 阶段的扫描策略：
            - 先用 1-2 句回顾旧档案的核心资产结论（不整段念），让用户知道你记得他。
            - 根据 last_report_date 感知时间跨度：≤1 个月轻扫，1-3 个月正常扫，＞3 个月深扫。
            - 按维度逐个过一遍引导："上次你的核心能力是 XX，最近这块有变化吗？资源方面呢？"，而不是笼统问"有什么变化"。
            - 给出快捷选项帮助用户快速定位：工作/业务有变动｜学了新东西/有新资源｜想重新审视方向。

            变更影响面分析：
            - 用户说"我换了工作"等重大变化时，先判断哪些维度受影响（可能同时影响多个维度），列出受影响的维度清单，再逐个进入 updating_* 阶段。
            - 一个变化可以触发多个维度的更新。

            "没什么变化"的二次确认：
            - 用户说"没什么变化"时，追问一句确认："那你的 XX（核心资产）目前用起来顺利吗？有什么新的案例或新发现的问题吗？"
            - 如果确认没有变化，stage 输出 no_change。

            "全部重新来过"的处理：
            - 如果用户明确说"想全部重新来过"，followup_message 确认"好的，我们从头开始重新梳理"，stage 输出 restart_full，后端会据此跳转到首次盘点流。
            - 不要在复盘流里模拟首次盘点的完整流程。

            ## 维度更新与对齐规则

            更新维度小报告输出时：followup_message 先输出该维度的变更小结（变化了什么、原来是什么、现在是什么）+ 一句自然过渡（不含问句），next_question 问"这样改准不准？还有要补的吗？"；仅当用户确认后 stage 才推进到下一个变化维度或 ready_for_report；用户补充新信息时，先合并进快照和小报告，再问一次是否 OK。

            ## 小报告格式（四维通用）

            【XX资产小报告】
            - 已识别资产：
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：
            - 初步变现性：强 / 中 / 弱
            - 当前判断：

            ## Patch 规则

            总则：只保留用户明确说过的，不脑补，不丢失已确认信息。旧画像中没变的部分原样保留；新信息与旧信息冲突时，以用户本轮说法为准。

            profile_snapshot_patch 只返回本轮新增或需要改写的标题段落，不要把没变化的标题段整段重写。
            profile_snapshot_patch 的标题只能来自固定结构：【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【跨界复利线索】【内部判断】
            profile_snapshot_patch 严格示例：
            【能力资产】
            - 通过连续 3 年独立完成招生转化，形成了从线索筛选、话术调整到成交跟进的完整闭环能力。
            - 更擅长在信息不完整的情况下快速推进，而不是做长期复杂规划。

            dimension_reports_patch 只返回本轮新增或需要改写的小报告段落；没变化时返回 ""。
            dimension_reports_patch 严格示例：
            【能力资产小报告】
            - 已识别资产：招生转化闭环、复杂问题拆解、现场推进
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：有连续 3 年一线转化记录，能根据不同客户状态即时调整表达和推进顺序
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：可迁移到咨询销售、项目推进、陪跑服务，和行业理解结合后更容易形成首单
            - 初步变现性：强
            - 当前判断：这不是普通沟通，而是可直接转成结果的成交推进能力。

            change_summary_patch 只记录本轮新增的变更记录块，不要把旧记录整段重写；没变化时返回 ""。
            change_summary_patch 严格示例：
            【变更记录】
            - 维度：能力
            - 变化内容：从招生转化转向企业咨询，新增了方案设计和提案能力
            - 原因/背景：3 个月前换到咨询公司，已独立完成 2 个项目交付

            report_brief_patch 只在 ready_for_report 时填写，否则返回 ""。
            report_brief_patch 必须包含：变更维度汇总、变更前后对比结论（哪些资产升级/降级/新增/失效）、是否影响变现路径判断、更新后的三项核心资产候选。

            ## 强纠偏

            - 如果用户新增的信息导致整体资产评估降级（如核心资源丢失、关键关系断裂），要诚实指出，不回避。
            - 如果原来的初步变现路径因为变化已不适用，也要明确指出并给出调整方向。
            - 如果变化带来了新的组合优势或跨界复利，也要积极识别。

            ## 阶段输出分工

            - scanning：followup_message 简短回顾旧档案核心结论 + 自然过渡，不含问句；next_question 按维度引导扫描变化
            - updating_* 收集中：followup_message 简短复述 / 共情变化 / 过渡，不含问句；next_question 放 1 个关键追问
            - updating_* 维度更新完成：followup_message 输出该维度变更小结（变化了什么），不含问句；next_question 放对齐问题"这样改准不准？"
            - 用户确认对齐后：followup_message 简短承接，next_question 进入下一个变化维度的第 1 个追问，或提示"其他维度还有变化吗？"
            - ready_for_report：followup_message 输出全部变更汇总，next_question 为 ""
            - no_change：followup_message 输出"好的，你的资产档案保持不变，下次有变化随时回来"，next_question 为 ""
            - restart_full：followup_message 确认"好的，我们从头开始重新梳理"，next_question 为 ""

            ## 输出要求

            - followup_message 放回顾旧档案/复述变化/变更小结/过渡；next_question 只放一个问题句；两者不可重复或同义。
            - 不要把 stage、profile_snapshot_patch 等内部字段名暴露给用户。
            - stage 只能是 scanning / updating_ability / updating_resource / updating_cognition / updating_relationship / ready_for_report / no_change / restart_full 之一。
            - followup_message 与 next_question 不可重复或同义。
        - id: review-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回顾、变更小结或过渡语，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              change_summary_patch:
                description: 仅包含本轮新增的变更记录块；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前复盘阶段
                enum:
                - scanning
                - updating_ability
                - updating_resource
                - updating_cognition
                - updating_relationship
                - ready_for_report
                - no_change
                - restart_full
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - change_summary_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 复盘更新编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4300000002'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000002
            value: ready_for_report
            varType: string
            variable_selector:
            - '4300000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        - case_id: no_change_case
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000003
            value: no_change
            varType: string
            variable_selector:
            - '4300000002'
            - structured_output
            - stage
          id: no_change_case
          logical_operator: and
        - case_id: restart_case
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000004
            value: restart_full
            varType: string
            variable_selector:
            - '4300000002'
            - structured_output
            - stage
          id: restart_case
          logical_operator: and
        selected: false
        title: 复盘结果分流
        type: if-else
      height: 125
      id: '4300000004'
      position:
        x: 1250
        y: 300
      positionAbsolute:
        x: 1250
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          复盘完成！正在根据最新情况重新生成你的资产报告，请稍候……

          [REVIEW_COMPLETE]
        selected: false
        title: 通知后端重新生成报告
        type: answer
        variables: []
      height: 102
      id: '4300000005'
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4300000002.structured_output.followup_message#}}

          {{#4300000002.structured_output.next_question#}}
        selected: false
        title: 继续复盘对话
        type: answer
        variables: []
      height: 102
      id: '4300000006'
      position:
        x: 1560
        y: 420
      positionAbsolute:
        x: 1560
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4300000002.structured_output.followup_message#}}

          你的资产档案保持不变，下次有变化随时回来。

          [NO_CHANGE]
        selected: false
        title: 无变化告别
        type: answer
        variables: []
      height: 102
      id: '4300000007'
      position:
        x: 1560
        y: 560
      positionAbsolute:
        x: 1560
        y: 560
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4300000002.structured_output.followup_message#}}

          [RESTART_FULL]
        selected: false
        title: 跳转首次盘点
        type: answer
        variables: []
      height: 102
      id: '4300000008'
      position:
        x: 1560
        y: 700
      positionAbsolute:
        x: 1560
        y: 700
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
