dify-workflows/3-复盘更新流.dsl.yml
app:
  description: 复盘更新流——用户已有完整报告，主动回来更新变化的信息，只做增量修改。
  icon: 🔁
  icon_background: '#E3F2FD'
  mode: advanced-chat
  name: 资产盘点-复盘更新
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 复盘阶段
    id: 43000000-0000-4000-8000-000000000001
    name: review_stage
    selector:
    - conversation
    - review_stage
    value: ''
    value_type: string
  - description: 更新后的资产画像快照
    id: 43000000-0000-4000-8000-000000000002
    name: updated_profile_snapshot
    selector:
    - conversation
    - updated_profile_snapshot
    value: ''
    value_type: string
  - description: 变更摘要
    id: 43000000-0000-4000-8000-000000000003
    name: change_summary
    selector:
    - conversation
    - change_summary
    value: ''
    value_type: string
  - description: 更新后的维度小报告
    id: 43000000-0000-4000-8000-000000000004
    name: updated_dimension_reports
    selector:
    - conversation
    - updated_dimension_reports
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 43000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  - description: 旧画像是否已加载
    id: 43000000-0000-4000-8000-000000000006
    name: old_profile_loaded
    selector:
    - conversation
    - old_profile_loaded
    value: 'false'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      欢迎回来复盘！
      我已经拿到了你之前那份资产档案，我们来看看最近有什么变化。
      快捷回复：工作/业务有变动｜学了新东西/有新资源｜想重新审视方向｜全部重新来过
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4300000001-source-4300000002-target
      source: '4300000001'
      sourceHandle: source
      target: '4300000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4300000002-source-4300000004-target
      source: '4300000002'
      sourceHandle: source
      target: '4300000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-ready-4300000005-target
      source: '4300000004'
      sourceHandle: ready_case
      target: '4300000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-false-4300000006-target
      source: '4300000004'
      sourceHandle: 'false'
      target: '4300000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 旧资产画像快照
          default: ''
          hint: '后端传入用户之前已完成的完整资产画像'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_profile_snapshot
        - label: 旧维度小报告
          default: ''
          hint: '后端传入上次四个维度的完整小报告'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_dimension_reports
        - label: 上次报告生成时间
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: last_report_date
        - label: 复盘版本号
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: review_version
        - label: 当前变更摘要
          default: ''
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_change_summary
        - label: 当前复盘阶段
          default: scanning
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: current_review_stage
      height: 220
      id: '4300000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: review-inv-sys-001
          role: system
          text: |-
            你是"一树"的复盘更新编排器。用户**已经有一份完整的资产盘点报告**，现在回来做阶段性复盘，目的是更新变化的部分。

            你的核心原则：
            1. 你不是从头盘点。用户已经盘过一次了。
            2. 你的任务是"增量更新"——只关注最近一段时间（通常是 1-3 个月）的变化。
            3. 不要重复问已经确认过的信息。
            4. 只追问变化了的部分和新出现的资产。

            上次报告生成时间：{{#4300000001.last_report_date#}}
            复盘版本号：{{#4300000001.review_version#}}

            当前已加载的资产画像快照：
            {{#4300000001.old_profile_snapshot#}}

            当前已加载的维度小报告：
            {{#4300000001.old_dimension_reports#}}

            当前的变更摘要：
            {{#4300000001.current_change_summary#}}

            当前复盘阶段：
            {{#4300000001.current_review_stage#}}

            复盘阶段机：
            1. scanning：扫描用户最近有哪些维度发生了变化（第一轮对话阶段）
            2. updating_ability：更新能力资产维度
            3. updating_resource：更新资源资产维度
            4. updating_cognition：更新认知资产维度
            5. updating_relationship：更新关系资产维度
            6. ready_for_report：所有变更已确认，可以交给报告生成器重新生成报告
            7. no_change：用户确认没有重大变化，不需要更新报告

            你的复盘对话规则：
            - 第一轮（scanning）：先简短回顾旧档案的核心资产，再问用户"最近一段时间，这几个方面有什么变化吗？"，并给出快捷选项。
            - 只追问用户明确提到有变化的维度，其他维度直接跳过。
            - 如果用户说"没什么变化"，要追问一句确认："那你的XX（核心资产）目前用起来顺利吗？有什么新的案例或新发现的问题吗？"
            - 如果确认没有变化，输出 no_change。
            - 更新快照时，遵循"只改变化的部分，保留原有不变的内容"原则。
            - 每次更新一个维度后，输出一个简短的"变更小结"。
            - 当所有变化维度都确认完毕，输出 ready_for_report。

            Patch 规则：
            - 旧画像中没变的部分，原样保留。
            - 用户本轮新说的内容，merge 进对应维度。
            - 如果新信息与旧信息冲突，以用户本轮说法为准。
            - profile_snapshot_patch 只返回本轮新增或需要改写的标题段落；未变化时返回 ""。
            - dimension_reports_patch 只返回本轮新增或需要改写的小报告段落；未变化时返回 ""。
            - change_summary_patch 只记录本轮新增的变更记录块，不要把旧记录整段重写。
            - report_brief_patch 只在 ready_for_report 或需要明显修订摘要时填写，否则返回 ""。
            - change_summary_patch 的格式为：
              【变更记录】
              - 维度：XX
              - 变化内容：XX
              - 原因/背景：XX

            强纠偏（与首次盘点一致）：
            - 如果用户新增的信息导致整体资产评估降级，要诚实指出。
            - 如果原来的初步变现路径因为变化已不适用，也要指出。

            输出要求：
            - 仅输出单个合法 JSON 对象（首尾为 { }），简体中文，无 markdown，无解释铺垫。
            - 所有 schema 字段必填，无内容填 ""，不要返回 null。
            - followup_message 放回顾旧档案/复述变化/变更小结/过渡；next_question 只放一个问题句；两者不可重复或同义。
            - 不要把 stage、profile_snapshot_patch 等内部字段名暴露给用户。
            - stage 只能是 scanning / updating_ability / updating_resource / updating_cognition / updating_relationship / ready_for_report / no_change 之一。
        - id: review-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回顾、变更小结或过渡语，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              change_summary_patch:
                description: 仅包含本轮新增的变更记录块；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前复盘阶段
                enum:
                - scanning
                - updating_ability
                - updating_resource
                - updating_cognition
                - updating_relationship
                - ready_for_report
                - no_change
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - change_summary_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 复盘更新编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4300000002'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000002
            value: ready_for_report
            varType: string
            variable_selector:
            - '4300000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否复盘完成
        type: if-else
      height: 125
      id: '4300000004'
      position:
        x: 1250
        y: 300
      positionAbsolute:
        x: 1250
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          复盘完成！正在根据最新情况重新生成你的资产报告，请稍候……

          [REVIEW_COMPLETE]
        selected: false
        title: 通知后端重新生成报告
        type: answer
        variables: []
      height: 102
      id: '4300000005'
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4300000002.structured_output.followup_message#}}

          {{#4300000002.structured_output.next_question#}}
        selected: false
        title: 继续复盘对话
        type: answer
        variables: []
      height: 102
      id: '4300000006'
      position:
        x: 1560
        y: 420
      positionAbsolute:
        x: 1560
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
