dify-workflows/3-复盘更新流.dsl.yml
app:
  description: 复盘更新流——用户已有完整报告，主动回来更新变化的信息，只做增量修改。
  icon: 🔁
  icon_background: '#E3F2FD'
  mode: advanced-chat
  name: 资产盘点-复盘更新
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 复盘阶段
    id: 43000000-0000-4000-8000-000000000001
    name: review_stage
    selector:
    - conversation
    - review_stage
    value: ''
    value_type: string
  - description: 更新后的资产画像快照
    id: 43000000-0000-4000-8000-000000000002
    name: updated_profile_snapshot
    selector:
    - conversation
    - updated_profile_snapshot
    value: ''
    value_type: string
  - description: 变更摘要
    id: 43000000-0000-4000-8000-000000000003
    name: change_summary
    selector:
    - conversation
    - change_summary
    value: ''
    value_type: string
  - description: 更新后的维度小报告
    id: 43000000-0000-4000-8000-000000000004
    name: updated_dimension_reports
    selector:
    - conversation
    - updated_dimension_reports
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 43000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  - description: 旧画像是否已加载
    id: 43000000-0000-4000-8000-000000000006
    name: old_profile_loaded
    selector:
    - conversation
    - old_profile_loaded
    value: 'false'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: |-
      欢迎回来复盘！
      我已经拿到了你之前那份资产档案，我们来看看最近有什么变化。
      快捷回复：工作/业务有变动｜学了新东西/有新资源｜想重新审视方向｜全部重新来过
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 4300000001-source-4300000009-target
      source: '4300000001'
      sourceHandle: source
      target: '4300000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 4300000009-need_load-4300000010-target
      source: '4300000009'
      sourceHandle: need_load
      target: '4300000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 4300000009-false-4300000002-target
      source: '4300000009'
      sourceHandle: 'false'
      target: '4300000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: llm
      id: 4300000010-source-4300000002-target
      source: '4300000010'
      sourceHandle: source
      target: '4300000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4300000002-source-4300000003-target
      source: '4300000002'
      sourceHandle: source
      target: '4300000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 4300000003-source-4300000004-target
      source: '4300000003'
      sourceHandle: source
      target: '4300000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-ready-4300000005-target
      source: '4300000004'
      sourceHandle: ready_case
      target: '4300000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4300000004-false-4300000006-target
      source: '4300000004'
      sourceHandle: 'false'
      target: '4300000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 旧资产画像快照
          default: ''
          hint: '后端传入用户之前已完成的完整资产画像'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_profile_snapshot
        - label: 旧维度小报告
          default: ''
          hint: '后端传入上次四个维度的完整小报告'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: old_dimension_reports
        - label: 上次报告生成时间
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: last_report_date
        - label: 复盘版本号
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: review_version
      height: 220
      id: '4300000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: need_load
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000010
            value: 'false'
            varType: string
            variable_selector:
            - conversation
            - old_profile_loaded
          id: need_load
          logical_operator: and
        selected: false
        title: 是否需要加载旧档案
        type: if-else
      height: 125
      id: '4300000009'
      position:
        x: 330
        y: 300
      positionAbsolute:
        x: 330
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4300000001'
          - old_profile_snapshot
          variable_selector:
          - conversation
          - updated_profile_snapshot
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4300000001'
          - old_dimension_reports
          variable_selector:
          - conversation
          - updated_dimension_reports
          write_mode: over-write
        - input_type: constant
          operation: set
          value: scanning
          variable_selector:
          - conversation
          - review_stage
          write_mode: over-write
        - input_type: constant
          operation: set
          value: 'true'
          variable_selector:
          - conversation
          - old_profile_loaded
          write_mode: over-write
        selected: false
        title: 加载旧档案到会话
        type: assigner
        version: '2'
      height: 163
      id: '4300000010'
      position:
        x: 330
        y: 490
      positionAbsolute:
        x: 330
        y: 490
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: review-inv-sys-001
          role: system
          text: |-
            你是"一树"的复盘更新编排器。用户**已经有一份完整的资产盘点报告**，现在回来做阶段性复盘，目的是更新变化的部分。

            你的核心原则：
            1. 你不是从头盘点。用户已经盘过一次了。
            2. 你的任务是"增量更新"——只关注最近一段时间（通常是 1-3 个月）的变化。
            3. 不要重复问已经确认过的信息。
            4. 只追问变化了的部分和新出现的资产。

            上次报告生成时间：{{#4300000001.last_report_date#}}
            复盘版本号：{{#4300000001.review_version#}}

            当前已加载的资产画像快照：
            {{#conversation.updated_profile_snapshot#}}

            当前已加载的维度小报告：
            {{#conversation.updated_dimension_reports#}}

            当前的变更摘要：
            {{#conversation.change_summary#}}

            当前复盘阶段：
            {{#conversation.review_stage#}}

            复盘阶段机：
            1. scanning：扫描用户最近有哪些维度发生了变化（第一轮对话阶段）
            2. updating_ability：更新能力资产维度
            3. updating_resource：更新资源资产维度
            4. updating_cognition：更新认知资产维度
            5. updating_relationship：更新关系资产维度
            6. ready_for_report：所有变更已确认，可以交给报告生成器重新生成报告
            7. no_change：用户确认没有重大变化，不需要更新报告

            你的复盘对话规则：
            - 第一轮（scanning）：先简短回顾旧档案的核心资产，再问用户"最近一段时间，这几个方面有什么变化吗？"，并给出快捷选项。
            - 只追问用户明确提到有变化的维度，其他维度直接跳过。
            - 如果用户说"没什么变化"，要追问一句确认："那你的XX（核心资产）目前用起来顺利吗？有什么新的案例或新发现的问题吗？"
            - 如果确认没有变化，输出 no_change。
            - 更新快照时，遵循"只改变化的部分，保留原有不变的内容"原则。
            - 每次更新一个维度后，输出一个简短的"变更小结"。
            - 当所有变化维度都确认完毕，输出 ready_for_report。

            更新快照的规则：
            - 旧画像中没变的部分，原样保留。
            - 用户本轮新说的内容，merge 进对应维度。
            - 如果新信息与旧信息冲突，以用户本轮说法为准。
            - 变更摘要（change_summary）要记录每次的变化点，格式为：
              【变更记录】
              - 维度：XX
              - 变化内容：XX
              - 原因/背景：XX

            强纠偏（与首次盘点一致）：
            - 如果用户新增的信息导致整体资产评估降级，要诚实指出。
            - 如果原来的初步变现路径因为变化已不适用，也要指出。

            输出要求：
            - 只能输出结构化结果。
            - 所有用户可见文本使用简体中文。
            - stage 只能是 scanning / updating_ability / updating_resource / updating_cognition / updating_relationship / ready_for_report / no_change 之一。
            - 你必须直接输出一个合法的 JSON 对象，首字符必须是 {，末字符必须是 }。
            - 不要在 JSON 前后输出任何解释、铺垫、总结、思考过程或额外文字。
            - 不要使用 markdown，不要把自然语言答案直接输出在 JSON 外面。
            - 所有 schema 中要求的字段都必须返回；没有内容时返回空字符串 ""，不要省略字段，不要返回 null。
            - followup_message 和 next_question 必须放在 JSON 字符串字段里，即使内容包含换行，也必须是合法 JSON 字符串。
            - followup_message 负责回顾旧档案、复述变化、输出变更小结和过渡，不能重复 next_question，不能包含与 next_question 语义相同的问题。
            - next_question 只放一个问题句，不要夹带复盘总结、变更小结，不要重复 followup_message 的内容。
            - 如果需要追问，问题只出现一次，并且只能出现在 next_question；followup_message 末尾不要再补一个同样的问题。
            - 输出前先自行检查一遍：是否为单个 JSON 对象、字段名是否完整、双引号和转义是否正确、stage 是否在允许枚举内。
        - id: review-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回顾、变更小结或过渡语，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句
                type: string
              updated_profile_snapshot:
                description: 合并更新后的资产画像快照（增量修改）
                type: string
              updated_dimension_reports:
                description: 更新后的四维度小报告全文
                type: string
              change_summary:
                description: 变更摘要记录
                type: string
              report_brief:
                description: 给报告生成器使用的摘要
                type: string
              stage:
                description: 当前复盘阶段
                enum:
                - scanning
                - updating_ability
                - updating_resource
                - updating_cognition
                - updating_relationship
                - ready_for_report
                - no_change
                type: string
            required:
            - stage
            - updated_profile_snapshot
            - updated_dimension_reports
            - change_summary
            - next_question
            - followup_message
            - report_brief
            type: object
        structured_output_enabled: true
        title: 复盘更新编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4300000002'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4300000002'
          - structured_output
          - stage
          variable_selector:
          - conversation
          - review_stage
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4300000002'
          - structured_output
          - updated_profile_snapshot
          variable_selector:
          - conversation
          - updated_profile_snapshot
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4300000002'
          - structured_output
          - updated_dimension_reports
          variable_selector:
          - conversation
          - updated_dimension_reports
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4300000002'
          - structured_output
          - change_summary
          variable_selector:
          - conversation
          - change_summary
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4300000002'
          - structured_output
          - report_brief
          variable_selector:
          - conversation
          - report_brief
          write_mode: over-write
        selected: false
        title: 写入复盘状态
        type: assigner
        version: '2'
      height: 163
      id: '4300000003'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 43000000-cond-4000-8000-000000000002
            value: ready_for_report
            varType: string
            variable_selector:
            - conversation
            - review_stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否复盘完成
        type: if-else
      height: 125
      id: '4300000004'
      position:
        x: 1250
        y: 300
      positionAbsolute:
        x: 1250
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          复盘完成！正在根据最新情况重新生成你的资产报告，请稍候……

          [REVIEW_COMPLETE]
        selected: false
        title: 通知后端重新生成报告
        type: answer
        variables: []
      height: 102
      id: '4300000005'
      position:
        x: 1560
        y: 200
      positionAbsolute:
        x: 1560
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4300000002.structured_output.followup_message#}}

          {{#4300000002.structured_output.next_question#}}
        selected: false
        title: 继续复盘对话
        type: answer
        variables: []
      height: 102
      id: '4300000006'
      position:
        x: 1560
        y: 420
      positionAbsolute:
        x: 1560
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
