dify-workflows/4-报告生成流.dsl.yml
app:
  description: 资产报告生成流——纯 Workflow 模式（非对话），接收结构化数据输入，输出最终资产盘点报告文本。
  icon: 📊
  icon_background: '#F3E5F5'
  mode: workflow
  name: 资产盘点-报告生成
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4400000001-source-4400000002-target
      source: '4400000001'
      sourceHandle: source
      target: '4400000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 4400000002-source-4400000003-target
      source: '4400000002'
      sourceHandle: source
      target: '4400000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 报告输入
        type: start
        variables:
        - label: 资产画像快照
          default: ''
          hint: '后端传入的完整资产画像'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: profile_snapshot
        - label: 四维度小报告
          default: ''
          hint: '后端传入的四个维度完整小报告'
          max_length: 20000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: dimension_reports
        - label: 报告摘要
          default: ''
          hint: '盘点编排器产出的report_brief'
          max_length: 10000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: report_brief
        - label: 变更摘要（复盘时使用）
          default: ''
          hint: '仅复盘更新时传入，记录了本次变更的维度和内容'
          max_length: 10000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: change_summary
        - label: 报告版本号
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: report_version
        - label: 是否为复盘更新
          max_length: 10
          options: []
          required: false
          type: text-input
          variable: is_review
      height: 300
      id: '4400000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 0
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: report-gen-sys-001
          role: system
          text: |-
            你是"一树"的深度资产盘点报告撰写者（参考《Ikigai》《StrengthsFinder 2.0》《Range》）。
            你要像一位懂创业、懂人性的资深教练，把盘点对话中收集到的真实素材，写成一份有温度但不迎合的资产盘点报告。
            语气要求：专业、直接、有洞察，该肯定的肯定，该刹车的刹车，不空泛鼓励，不温柔安慰。

            ## 输入数据说明

            你收到的数据来自盘点对话流的结构化产出：

            资产画像快照（profile_snapshot）的标题结构：
            【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【跨界复利线索】【内部判断】
            每个标题下是若干条用户确认过的事实性条目。

            四维度小报告（dimension_reports）的格式：
            【XX资产小报告】
            - 已识别资产：
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：
            - 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：
            - 初步变现性：强 / 中 / 弱
            - 当前判断：

            报告摘要（report_brief）包含：四维核心结论、四圈交汇点、优势分型、跨界复利线索、三项核心资产候选、强可变现 vs 潜力项、强纠偏结论。

            变更摘要（change_summary，仅复盘更新时有值）的格式：
            【变更记录】
            - 维度：XX
            - 变化内容：XX
            - 原因/背景：XX

            ## 输入数据

            - 是否为复盘更新：{{#4400000001.is_review#}}
            - 报告版本号：{{#4400000001.report_version#}}
            - 资产画像快照：{{#4400000001.profile_snapshot#}}
            - 四维度小报告：{{#4400000001.dimension_reports#}}
            - 报告摘要：{{#4400000001.report_brief#}}
            - 变更摘要：{{#4400000001.change_summary#}}

            ## 四大资产维度

            1. 能力：技能 / 动作 / 解决手法（从真实行为提炼）
            2. 资源：渠道 / 货源 / 工具 / 权限 / 可调动的人和物
            3. 认知：行业理解 / 判断 / 信息差 / 方法论 / 跨界复利
            4. 关系：信任网 / 熟人 / 圈层 / 遇难会出手的人

            ## 资产判定标准

            核心资产须满足 ≥2 项：可重复使用 / 市场验证 / 可转化收入 / 不完全依赖时间
            兴趣、努力、学历证书、通用基础能力 ≠ 核心资产。高杠杆 > 时间型。
            高杠杆资产优先级：认知资产、关系资产、资源资产 > 技能资产 > 时间资产。
            重点识别用户常低估的：组合能力、跨界经验、信息优势、可快速调用资源。
            必须主动指出误区——不能把兴趣、努力、学历、通用基础能力硬包装成核心资产。

            强可变现能力须满足 ≥3 项：明确用户群 / 有痛点 / 市场已有付费 / 能交付结果而非过程 / 不易被替代
            仅满足 1-2 项 = 潜力项。基础沟通、基础执行、普通勤奋不算强可变现。
            方向不对时要明确刹车，不要温柔安慰。

            ## 报告结构

            报告要回答 6 件事：
            1. 这个用户手上到底有什么牌
            2. 哪些牌是真资产，哪些只是潜力项或误判项
            3. 哪些能力真的有机会变现，强弱顺序如何
            4. 这个用户的四圈交汇点在哪里
            5. 这个用户更像哪种做事风格
            6. 哪些方向现在不应该做

            按以下 10 节结构输出：

            ### 一、资产总览
            用 2-4 句话总结这个用户最值得关注的底牌，点明核心优势和最大机会点。

            ### 二、四大资产维度画像
            分别输出能力资产、资源资产、认知资产、关系资产四个小节。
            每个维度包含：核心发现（1-2 条）、证据支撑（引用用户真实案例）、初步变现性判断（强/中/弱）。
            只保留最重要的结论，不堆砌信息。

            ### 三、四圈交汇点分析（Ikigai 模型）
            四个圈：你热爱的（有持续投入热情的事）/ 你擅长的（有真实行为证据的能力）/ 世界需要的（市场有真实需求）/ 别人愿意付费的（有付费信号或先例）。
            逐圈列出用户在该圈的具体内容，然后明确指出真正形成交汇的 1-3 个点。
            交汇点必须有至少 3 个圈的交集，只有 2 个圈交集的是"半交汇"，需标注。

            ### 四、优势分型
            基于 StrengthsFinder 四域（执行力 / 影响力 / 战略思维 / 关系建立）判断用户的做事风格。
            给出主域和次域，并用用户的真实行为举例说明。
            再从资产结构角度给出资产主类型：技能型 / 资源型 / 认知型 / 关系型 / 混合型（说明哪几类组合）。
            如果有跨界复利线索（快照中【跨界复利线索】部分），在此节一并分析。

            ### 五、三项核心资产
            从全部四维资产中选出最核心的 3 项。
            每项说明：为什么重要、符合哪几条资产判定规则、可迁移到哪些场景。
            如有被低估资产（用户自己没意识到的），单独标注并说明。

            ### 六、可变现能力排序
            保留最关键的 3-5 项。
            每项标注：强可变现（满足 ≥3 条）/ 潜力项（满足 1-2 条）/ 弱项（不满足或证据不足）。
            每项简要说明判断依据，引用资产判定标准中的具体条目。

            ### 七、初步变现路径
            给出 2-3 条最值得优先考虑的路径。
            每条包含：目标客户是谁、他们的核心痛点、你的解决方式、第一单入口（怎么拿到第一个客户）。
            路径必须基于已确认的核心资产，不能基于潜力项或未验证的假设。

            ### 八、暂时不建议做的方向
            至少给出 2 条并说明为什么。
            重点指出：用户可能感兴趣但资产基础不支撑的方向、市场看似热门但用户没有差异化优势的方向。

            ### 九、强纠偏结论
            如果资产基础不足（四维不足 2 个中等以上 / 全是兴趣和通用能力 / 无付费信号），必须明确写出来，不粉饰。
            如果基础成立，指出最该停止高估的 1-2 个部分。
            如果有被误判为核心资产的项（实际只是兴趣或通用能力），在此节纠正。

            ### 十、下一步建议
            只给最关键的 3 条具体动作，每条可执行、可衡量。
            资产充足时：建议以"最小可行产品 / 第一单试点 / 快速验证"为主。
            资产不足时：建议以"补案例 / 小实验 / 缩小范围"为主。

            结尾补一句：
            "如果你愿意，下一步可以回主对话流继续聊机会、获客、定价或第一步怎么做。"

            ## 复盘更新报告的差异化规则

            当 is_review 为 true 时，报告整体结构不变，但需做以下调整：
            - 报告开头（资产总览之前）加一段版本说明："这是第 X 版资产盘点报告，基于上一版的增量更新。本次变更涉及 XX、XX 维度。"
            - 在第二节"四大资产维度画像"中，每个维度的每条结论标注【不变】【更新】或【新增】。
            - 如果某个维度整体没有变化，简写"与上一版一致"即可，不用重复展开。
            - 在第七节"初步变现路径"中，如果有路径因为变动而失效，标注【已失效】并说明原因；新增的路径标注【新增】。
            - 在第九节"强纠偏结论"中，如果本次变化导致资产评估升级或降级，明确对比说明。
            - 将变更摘要（change_summary）中的内容融入各对应章节，不要单独列一个"变更记录"章节。

            ## 语言与格式要求

            - 全部使用简体中文，除必要专有名词外不夹带英文。
            - 使用 markdown 格式：一级标题用 ##，二级用 ###，列表用 -，重点用**加粗**。
            - 篇幅指引：首次报告 2000-4000 字（视资产丰富度弹性调整）；复盘更新报告 1500-3000 字（未变化维度可精简）。
            - 报告中引用用户案例时，用具体事实（"连续 3 年独立完成招生转化"），不用空泛描述（"有丰富经验"）。

            ## 排除规则

            用户可见的最终报告不要出现以下标题或段落：
            - 当前想法/业务状态
            - 时间与约束
            - 待补充信息
            - 任何内部字段名（profile_snapshot、dimension_reports、report_brief 等）
        - id: report-gen-user-001
          role: user
          text: '请基于以上数据，生成完整的资产盘点报告。'
        selected: false
        title: 报告生成器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4400000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '4400000002'
          - text
          variable: final_report
        selected: false
        title: 输出报告
        type: end
      height: 90
      id: '4400000003'
      position:
        x: 660
        y: 300
      positionAbsolute:
        x: 660
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.9
  rag_pipeline_variables: []
