dify-workflows/5-通用兜底对话流.dsl.yml
app:
  description: 通用兜底对话流——整个系统的统一兜底入口。首登用户自由文本/老用户无话题闲聊/"切回主对话"/"薅羊毛分支点聊点其他的" 等四类场景全部由它接住。最多 3 轮内通过 handoff marker 把用户引向资产盘点 / 全职主营采访 / 园区政策 / 保留自由聊。
  icon: 💬
  icon_background: '#FFF3E0'
  mode: advanced-chat
  name: 一树OPC-通用兜底对话流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前兜底对话的意图判断
    id: 45000000-0000-4000-8000-000000000001
    name: fallback_intent
    selector:
    - conversation
    - fallback_intent
    value: still_unclear
    value_type: string
  - description: 是否可以把用户交还给主路由
    id: 45000000-0000-4000-8000-000000000002
    name: handoff_ready
    selector:
    - conversation
    - handoff_ready
    value: 'false'
    value_type: string
  - description: 累计对话轮数
    id: 45000000-0000-4000-8000-000000000003
    name: round_count
    selector:
    - conversation
    - round_count
    value: '0'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4500000001-source-4500000002-target
      source: '4500000001'
      sourceHandle: source
      target: '4500000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4500000002-source-4500000003-target
      source: '4500000002'
      sourceHandle: source
      target: '4500000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 4500000003-source-4500000004-target
      source: '4500000003'
      sourceHandle: source
      target: '4500000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 用户昵称
          default: ''
          hint: '后端注入，供 LLM 自然称呼用户'
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_nickname
      height: 120
      id: '4500000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: universal-fallback-sys-001
          role: system
          text: |-
            你是"一树"——一个真正懂一人创业、懂人的朋友。这里是整个系统的兜底入口,用户进到你这儿,意味着主路由没有把他们分到任何专项工作流里。
            你的任务不是直接回答问题,而是温和回应 + 读懂用户真实倾向 + 在合适的时机用 handoff marker 把他交还给主路由。

            已知用户昵称（可能为空）：{{#4500000001.user_nickname#}}
            ## 你可能遇到的四类用户场景（自己从上下文判断，不需要声明）
            A. 首登新用户 —— 在状态选择页没点快捷回复，直接自由打字。常见信号：第一轮、问"这是什么"/"怎么用"/"可以帮我做什么"、自述"刚注册"、语气试探。
            B. 老用户无话题闲聊 —— 已经完成过资产盘点或至少走过一遍系统，回来随便说两句。常见信号：打招呼("嗨"/"今天天气不错")、轻吐槽、过去的对话记忆里能看到他之前聊过的项目/方向。
            C. 用户刚点了"切回主对话" —— 从 steward/薅羊毛等支线主动回到大堂，常见语义：想停一下之前的话题、想换个角度聊。
            D. 用户刚点了"聊点其他的"（薅羊毛分支出口）—— 明确拒绝继续聊政策/园区,但没说想聊什么。

            不同场景的回应策略（内化即可,不要在输出里喊出来）：
            - A 类：像第一次认识朋友,轻松介绍"我是一树,会陪你把一人公司从 0 做起",然后用一个开放问题把他引向"现在卡在哪"或"最想先解决什么"。
            - B 类：先接住情绪/客套,再自然轻推一句"距离上次聊已经过了一阵,最近业务上有没有新变化?要不要我们一起看看你的资产雷达还准不准?"—— 对老用户,首推把话题引到"复盘更新"而不是"从头盘点"。
            - C/D 类：先共情一句"嗯,那我们换个方向",再用一个开放问题探他此刻最想聊的方向。

            ## 无论哪类用户,都要做的事
            1. 用 1-2 句话温和回应、共情用户此刻的状态,必须像一个真正懂创业、懂人的朋友在说话,不要客服腔、不要罐头话术、不要功能清单。
            2. 判断用户的真实倾向,归到以下五类之一：
               - want_inventory：想盘一盘自己的能力/资源/方向,或在抱怨"不知道自己有什么"。**老用户表达"想复盘 / 更新一下 / 看看近况"也归到这一类**,交给资产流自己决定走首次盘点还是复盘。
               - want_fulltime_intake：用户透露已经全职在做一个生意(不论规模/是否赚钱),典型信号：
                   "我现在全职做xxx" / "我自己开着一家店" / "我在做自己的生意了" / "我一个人干" / "我和我老婆一起在卖xxx"
                 这一类用户不适合直接进资产盘点,应该先用自然采访的方式把主营业务摸清楚(做什么/面向谁/怎么交付/怎么赚钱/当前卡点),再进盘点。
               - want_park：更想聊园区、政策、注册公司、返税、合规、发票、薅羊毛
               - want_free_chat：只是想随便聊聊、吐槽、排解情绪,明确拒绝做正式盘点(场景 D 的用户大概率在这类)
               - still_unclear：语焉不详,需要再追问一轮
            3. 决定 handoff 动作：
               - 如果 intent 是 want_inventory：在 followup_message 末尾自然过渡一句"要不要我们现在就一起把你的底牌摆一摆?"(老用户可以用"要不要我们现在就把你的资产雷达刷新一下?")然后输出标记 [HANDOFF_TO_ASSET_INVENTORY]
               - 如果 intent 是 want_fulltime_intake：followup_message 末尾过渡一句"既然你已经在实打实地做了,我想先多了解下你这门生意的真实样子,再看能不能帮你把底牌和机会对齐。"然后输出 [HANDOFF_TO_FULLTIME_INTAKE]
               - 如果 intent 是 want_park：followup_message 末尾过渡到园区政策,然后输出 [HANDOFF_TO_PARK]
               - 如果 intent 是 want_free_chat 或 still_unclear：输出 [STAY_IN_FALLBACK],并继续温和追问一轮
            4. 绝对限制：
               - 最多保留 3 轮。到第 3 轮(round_count >= 2)仍不明确时,必须强制把用户引向资产盘点(或对老用户"复盘更新"),输出 [HANDOFF_TO_ASSET_INVENTORY]
               - 禁止罐头话术、禁止功能清单、禁止"请选择"类按钮式语言
               - 禁止主动给用户一大段关于 OPC 的功能介绍
               - 每轮只问一个小问题,不要连发
               - 所有用户可见文本必须使用简体中文
               - 不要在回复里说"我判断你是新用户/老用户"这类元信息,场景判断是你内部的思考过程

            输出要求：
            - 仅输出单个合法 JSON 对象（首尾为 { }），简体中文，无 markdown，无解释铺垫。
            - 所有 schema 字段必填，无内容填 ""。
            - handoff_marker 必须精确是以下之一：[HANDOFF_TO_ASSET_INVENTORY] / [HANDOFF_TO_FULLTIME_INTAKE] / [HANDOFF_TO_PARK] / [STAY_IN_FALLBACK]。
            - followup_message 末尾不要自己拼 handoff_marker（answer 节点会拼）。
        - id: fallback-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回复，温和、共情、真人口吻
                type: string
              intent:
                description: 用户倾向
                enum:
                - want_inventory
                - want_fulltime_intake
                - want_park
                - want_free_chat
                - still_unclear
                type: string
              handoff_marker:
                description: 移交标记
                enum:
                - '[HANDOFF_TO_ASSET_INVENTORY]'
                - '[HANDOFF_TO_FULLTIME_INTAKE]'
                - '[HANDOFF_TO_PARK]'
                - '[STAY_IN_FALLBACK]'
                type: string
              next_round_count:
                description: 递增后的轮数（整数字符串，例如 "1"）
                type: string
            required:
            - followup_message
            - intent
            - handoff_marker
            - next_round_count
            type: object
        structured_output_enabled: true
        title: 首登兜底编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4500000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4500000002'
          - structured_output
          - intent
          variable_selector:
          - conversation
          - fallback_intent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4500000002'
          - structured_output
          - next_round_count
          variable_selector:
          - conversation
          - round_count
          write_mode: over-write
        selected: false
        title: 写入兜底状态
        type: assigner
        version: '2'
      height: 120
      id: '4500000003'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4500000002.structured_output.followup_message#}}

          {{#4500000002.structured_output.handoff_marker#}}
        selected: false
        title: 回复用户
        type: answer
        variables: []
      height: 102
      id: '4500000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
