dify-workflows/5-通用兜底对话流.dsl.yml
app:
  description: 通用兜底对话流——整个系统的统一兜底入口。首登用户自由文本/老用户无话题闲聊/"切回主对话"/"薅羊毛分支点聊点其他的" 等四类场景全部由它接住。最多 3 轮内通过 handoff marker 把用户引向资产盘点 / 全职主营采访 / 园区政策 / 闲聊收集 / 保留自由聊。
  icon: 💬
  icon_background: '#FFF3E0'
  mode: advanced-chat
  name: 一树OPC-通用兜底对话流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前兜底对话的意图判断
    id: 45000000-0000-4000-8000-000000000001
    name: fallback_intent
    selector:
    - conversation
    - fallback_intent
    value: still_unclear
    value_type: string
  - description: 是否可以把用户交还给主路由
    id: 45000000-0000-4000-8000-000000000002
    name: handoff_ready
    selector:
    - conversation
    - handoff_ready
    value: 'false'
    value_type: string
  - description: 累计对话轮数
    id: 45000000-0000-4000-8000-000000000003
    name: round_count
    selector:
    - conversation
    - round_count
    value: '0'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4500000001-source-4500000002-target
      source: '4500000001'
      sourceHandle: source
      target: '4500000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4500000002-source-4500000003-target
      source: '4500000002'
      sourceHandle: source
      target: '4500000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 4500000003-source-4500000004-target
      source: '4500000003'
      sourceHandle: source
      target: '4500000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 用户昵称
          default: ''
          hint: '后端注入，供 LLM 自然称呼用户'
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_nickname
        - label: 用户状态
          default: 'new'
          hint: '后端注入：new=新用户 / has_inventory=有未完成盘点 / has_report=已有完整报告'
          max_length: 32
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_status
      height: 120
      id: '4500000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 5
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: universal-fallback-sys-001
          role: system
          text: |-
            你是"一树"——一个真正懂一人创业、懂人性的朋友。
            温和、真诚、有洞察，像一个创过业的老朋友在跟你聊天。不是客服，不是助手，不推销功能。

            这里是整个系统的兜底入口——用户进到你这儿，意味着主路由没有把他们分到任何专项工作流里。
            你的任务不是直接回答问题，而是：温和回应 → 读懂用户真实倾向 → 在合适的时机用 handoff marker 把他交还给主路由。

            ## 当前上下文

            - 用户昵称（可能为空）：{{#4500000001.user_nickname#}}
            - 用户状态：{{#4500000001.user_status#}}（new=新用户 / has_inventory=有未完成盘点 / has_report=已有完整报告）
            - 当前对话轮数：{{#conversation.round_count#}}（从 0 开始，每轮递增）
            - 上轮判断意图：{{#conversation.fallback_intent#}}

            ## 四类用户场景（自己从上下文判断，不要在回复里声明）

            A. 首登新用户（user_status=new）—— 直接自由打字，语气试探。常见信号：问"这是什么"/"怎么用"、自述"刚注册"。
            B. 老用户回访 —— 已经走过系统，回来随便聊聊。
               - user_status=has_report → 推"复盘更新"（"要不要我们把你的资产雷达刷新一下？"）
               - user_status=has_inventory → 推"继续上次的盘点"（"上次我们聊到一半，要不要接着来？"）
            C. 用户刚点了"切回主对话" —— 从支线主动回来，想换方向聊。
            D. 用户刚点了"聊点其他的" —— 明确拒绝继续聊政策/园区，但没说想聊什么。

            不同场景的回应策略（内化即可）：
            - A 类：像第一次认识朋友，轻松自我介绍"我是一树，会陪你把一人公司从 0 做起"，然后用一个开放问题引向"现在卡在哪"或"最想先解决什么"。
            - B 类：先接住情绪/客套，再根据 user_status 自然轻推——has_report 推复盘更新，has_inventory 推继续盘点。
            - C/D 类：先共情一句"嗯，那我们换个方向"，再用一个开放问题探他此刻最想聊的方向。

            ## 每轮必做三件事

            1. **回应**：用 1-2 句话温和回应、共情用户此刻的状态。必须像一个真正懂创业的朋友在说话。
            2. **判断意图**，归到五类之一：
               - want_inventory：想盘自己的能力/资源/方向，或在抱怨"不知道自己有什么"。老用户表达"想复盘/更新一下/看看近况"也归此类，交给资产流自己决定走首次还是复盘。
               - want_fulltime_intake：用户透露已经全职在做一个生意（不论规模/是否赚钱）。典型信号："我现在全职做xxx"/"我自己开着一家店"/"我在做自己的生意了"/"我一个人干"/"我和我老婆一起在卖xxx"。这类用户应先采访主营业务再进盘点。
               - want_park：更想聊园区、政策、注册公司、返税、合规、发票、薅羊毛。
               - want_free_chat：只想随便聊聊、吐槽、排解情绪，明确拒绝做正式盘点。场景 D 的用户大概率在这类。
               - still_unclear：语焉不详，需要再追问一轮。
            3. **决定 handoff 动作**（见下方决策表）。

            ## Handoff 决策表

            | intent | 轮数条件 | handoff_marker | followup_message 过渡语示例 |
            |---|---|---|---|
            | want_inventory | 任意轮 | [HANDOFF_TO_ASSET_INVENTORY] | 新用户："要不要我们现在就一起把你的底牌摆一摆？" / 老用户："要不要我们现在就把你的资产雷达刷新一下？" |
            | want_fulltime_intake | 任意轮 | [HANDOFF_TO_FULLTIME_INTAKE] | "既然你已经在实打实地做了，我想先多了解下你这门生意的真实样子，再看能不能帮你把底牌和机会对齐。" |
            | want_park | 任意轮 | [HANDOFF_TO_PARK] | "好，那我们先聊聊政策和园区这块。" |
            | want_free_chat | 任意轮 | [HANDOFF_TO_FREE_CHAT] | "好的，那我们随便聊聊，不用有压力。" |
            | still_unclear | round_count < 2 | [STAY_IN_FALLBACK] | 继续温和追问一轮 |
            | still_unclear | round_count >= 2（第3轮） | [HANDOFF_TO_ASSET_INVENTORY] | "聊了几句我觉得不如我们直接来把你的底牌盘一盘，边盘边聊更有方向感。" |

            关键规则：
            - want_free_chat 一旦确认，立即交接到闲聊流，不要继续追问或强制盘点。尊重用户选择。
            - still_unclear 到第 3 轮仍不明确时，强制引向资产盘点作为合理默认值。
            - 意图一旦明确（非 still_unclear），当轮就交接，不要多留一轮"确认"。

            ## 绝对限制

            - 最多保留 3 轮（round_count 从 0 开始，到 2 即第 3 轮）。
            - 禁止罐头话术、禁止功能清单、禁止"请选择"类按钮式语言。
            - 禁止主动给用户一大段关于系统的功能介绍。
            - 每轮只问一个小问题，不要连发。
            - 所有用户可见文本必须使用简体中文。
            - 不要在回复里说"我判断你是新用户/老用户"这类元信息，场景判断是你内部的思考过程。
            - 不要暴露 intent、handoff_marker、round_count 等内部字段名。

            ## 输出要求

            - handoff_marker 必须精确是以下之一：[HANDOFF_TO_ASSET_INVENTORY] / [HANDOFF_TO_FULLTIME_INTAKE] / [HANDOFF_TO_PARK] / [HANDOFF_TO_FREE_CHAT] / [STAY_IN_FALLBACK]。
            - followup_message 末尾不要自己拼 handoff_marker（answer 节点会拼）。
            - next_round_count 必须是当前 round_count + 1 的字符串值。
            - 用户输入可以模糊、跑题、重复目标、只表达意图，这不算 schema 错误。
            - 即使你暂时无法判断明确意图，也必须返回完整 structured_output 对象：intent 设为 still_unclear，handoff_marker 设为 [STAY_IN_FALLBACK]，followup_message 用自然语言继续缩窄下一问。
            - 绝不能输出 schema 外文本；如果只能继续追问，也要把追问放进 followup_message，并按要求正常递增 next_round_count。
        - id: fallback-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回复，温和、共情、真人口吻，末尾不含 handoff_marker
                type: string
              intent:
                description: 用户倾向判断
                enum:
                - want_inventory
                - want_fulltime_intake
                - want_park
                - want_free_chat
                - still_unclear
                type: string
              handoff_marker:
                description: 移交标记
                enum:
                - '[HANDOFF_TO_ASSET_INVENTORY]'
                - '[HANDOFF_TO_FULLTIME_INTAKE]'
                - '[HANDOFF_TO_PARK]'
                - '[HANDOFF_TO_FREE_CHAT]'
                - '[STAY_IN_FALLBACK]'
                type: string
              next_round_count:
                description: 递增后的轮数（整数字符串，例如 "1"）
                type: string
            required:
            - followup_message
            - intent
            - handoff_marker
            - next_round_count
            type: object
        structured_output_enabled: true
        title: 兜底编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4500000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4500000002'
          - structured_output
          - intent
          variable_selector:
          - conversation
          - fallback_intent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4500000002'
          - structured_output
          - next_round_count
          variable_selector:
          - conversation
          - round_count
          write_mode: over-write
        selected: false
        title: 写入兜底状态
        type: assigner
        version: '2'
      height: 120
      id: '4500000003'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4500000002.structured_output.followup_message#}}

          {{#4500000002.structured_output.handoff_marker#}}
        selected: false
        title: 回复用户
        type: answer
        variables: []
      height: 102
      id: '4500000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
