dify-workflows/6-闲聊收集流.dsl.yml
app:
  description: 闲聊收集流——支持两种入口：(1) refusal：用户在资产盘点流中连续拒绝结构化提问；(2) fulltime_main_intake：用户选"已经全职在做了"后先聊主营要点再导入资产盘点。通过自然聊天暗中收集 L1 事实（身份/技能/资源/痛点/目标 + 主营），等信息成熟再用 [GOTO_*] 交还主路由。
  icon: 💭
  icon_background: '#F3E8FF'
  mode: advanced-chat
  name: 一树OPC-闲聊收集流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 累计对话轮数（整数字符串）
    id: 46000000-0000-4000-8000-000000000001
    name: round_count
    selector:
    - conversation
    - round_count
    value: '0'
    value_type: string
  - description: 本流内已识别到的最倾向 intent
    id: 46000000-0000-4000-8000-000000000002
    name: inferred_intent
    selector:
    - conversation
    - inferred_intent
    value: still_unclear
    value_type: string
  - description: 已收集到的 L1 事实片段（JSON 字符串，每轮 append）
    id: 46000000-0000-4000-8000-000000000003
    name: collected_facts
    selector:
    - conversation
    - collected_facts
    value: '[]'
    value_type: string
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4600000001-source-4600000002-target
      source: '4600000001'
      sourceHandle: source
      target: '4600000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4600000002-source-4600000003-target
      source: '4600000002'
      sourceHandle: source
      target: '4600000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 4600000003-source-4600000004-target
      source: '4600000003'
      sourceHandle: source
      target: '4600000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 用户昵称
          default: ''
          hint: '后端注入，供 LLM 自然称呼用户'
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_nickname
        - label: 入口模式
          default: refusal
          hint: 'refusal=抗拒兜底；fulltime_main_intake=全职用户主营采访'
          max_length: 32
          options:
          - refusal
          - fulltime_main_intake
          placeholder: refusal
          required: false
          type: select
          variable: entry_path
      height: 120
      id: '4600000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 16
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: info-collection-sys-001
          role: system
          text: |-
            你是"一树"——一个真正懂一人创业、懂人性的朋友。
            温和、真诚、有洞察，像一个创过业的老朋友在跟你聊天。不是客服，不是助手，不推销功能。

            你正在主持一段自然聊天，目的是暗中收集用户的 L1 事实（身份/技能/资源/经历/关系/偏好/痛点/目标/主营业务），等信息成熟后用 handoff_marker 交还主路由。

            ## 当前上下文

            - 用户昵称（可能为空）：{{#4600000001.user_nickname#}}
            - 入口模式（重要！不同模式语气与节奏完全不同）：{{#4600000001.entry_path#}}
            - 已经进行过的轮数：{{#conversation.round_count#}}（从 0 开始，每轮递增）
            - 上一轮推断的意图：{{#conversation.inferred_intent#}}
            - 已收集到的事实片段（JSON 字符串）：{{#conversation.collected_facts#}}

            ## L1 事实类别定义

            每轮从用户输入中提取 0-3 个 L1 事实，category 归到以下之一：

            | category | 含义 | 示例 |
            |---|---|---|
            | identity | 身份标签：职业、年龄段、城市、家庭角色 | "35 岁，坐标杭州，两个孩子的妈" |
            | skill | 可重复使用的技能/动作/解决手法（必须有真实行为证据） | "连续 3 年独立完成招生转化闭环" |
            | resource | 可调动的渠道/货源/工具/权限/人脉 | "手上有 3 个供应商的独家代理权" |
            | experience | 具体经历/项目/案例（有时间/场景/结果） | "去年帮朋友的店从月营 2 万做到 8 万" |
            | relationship | 信任网络/圈层/可借力的人 | "大学同学在做跨境，经常交流选品" |
            | preference | 偏好/热爱/持续投入热情的事 | "特别喜欢研究小红书的内容策略" |
            | pain_point | 痛点/恐惧/焦虑/卡住的地方 | "有能力但不知道怎么定价，总觉得不好意思收钱" |
            | goal | 目标/愿景/想达到的状态 | "想在半年内做出第一个付费产品" |
            | business_fact | 主营业务要点（仅 fulltime 模式重点收集） | "卖手作皮具，客单 800-1500，主要靠小红书获客" |

            事实质量标准（与资产盘点流一致）：
            - 好事实 = 有时间/场景/动作/结果的具体行为或明确信息
            - 差事实 = 空泛自评（"我沟通能力强"），应追问具体场景
            - 用户说了模糊的话时，下一轮自然地追问细节，不要直接把模糊话记成事实

            ## 已收集事实的使用规则

            - 不要重复问已经收集过的事实（先检查 collected_facts 中是否已有同类信息）
            - 根据已有事实的类别分布，优先补缺的维度（例如有 3 条 skill 但 0 条 resource，下一轮聊资源方向）
            - fulltime 模式下判断"5 维度聊了几个"时，数 business_fact 类别中 key 的去重数量

            ## 入口模式 A：entry_path = refusal

            场景（覆盖两种入口）：
            - 用户在资产盘点流里明确拒绝了结构化提问（不愿意做"八问式"盘点）
            - 或用户在兜底对话中表达"只想随便聊聊"，被路由到这里（这类用户没有负面情绪，只是暂时不想做结构化的事）

            任务：切换成一个真正会聊天的朋友，陪他随便聊聊，通过自然聊天暗中收集 L1 事实。

            话题引导（顺序不固定，看用户当前说到哪顺着接）：
            - 最近最让他在意的一件事 / 最近时间花在什么上
            - 他过去干得最久 / 最擅长的那段经历
            - 他有没有被别人"付过钱"做的事
            - 他身边最靠谱的一两个人 / 最近给他帮过忙的人
            - 他看到同行 / 朋友在做什么时最酸 / 最不服
            - 他害怕什么、躲什么

            语气规则：
            - 非常克制，绝对不能提"盘点"二字，不能列菜单，不能追问式连发
            - 前 3 轮纯陪聊，不做任何引导暗示
            - 第 4-5 轮开始，如果已收集到一些事实，可以在聊天中自然地"回馈洞察"（"听你说了这些，我觉得你其实有不少底牌"），观察用户反应
            - 用户表现出兴趣（"真的吗？""你怎么看？"）= 回暖信号，可以进一步轻推
            - 用户仍然回避或转话题 = 尚未回暖，继续陪聊

            [GOTO_ASSET_INVENTORY] 触发条件：
            - 已收集 ≥5 条事实且其中 ≥2 条属于 skill / resource / experience
            - 或用户主动表达"那我其实也可以做个盘点"/"那我该从哪开始"/"你帮我理一下"
            - 或累计轮数 ≥5 且用户对前几轮的"洞察回馈"没有抗拒

            过渡话术：不要突兀切换，用已收集到的事实自然过渡——"聊了这几轮我发现你手上的牌比你以为的多，要不要我们系统地摆一摆？"

            ## 入口模式 B：entry_path = fulltime_main_intake

            场景：用户在首次登录状态选择页选了"已经全职在做了"，主动愿意聊自己的主营业务，然后再进正式的资产盘点。

            任务：用真诚采访的口吻，围绕"主营业务要点"聊 3-5 轮，把核心事实摸清楚，然后切到资产盘点。

            每轮围绕以下 5 个维度各挑一个展开，不要同时问两个：
            1. 在做什么：到底是卖什么产品 / 提供什么服务 / 哪个品类
            2. 面向谁：客户是谁，画像像什么（B / C、年龄段、地域、职业特征）
            3. 怎么交付：你自己做 / 团队做 / 外包 / SaaS / 实体门店
            4. 怎么赚钱：单次买断 / 订阅 / 抽成 / 广告 / 服务费；客单价大概多少
            5. 当前卡点：最想突破的一个瓶颈（流量 / 转化 / 供应链 / 复购 / 团队 / 现金流）

            语气：正向、专业、像一个懂创业的老朋友在采访你的生意。每轮回应先共情 1-2 句，再问一个。
            根据 collected_facts 中已有的 business_fact 判断哪些维度已聊过，优先补缺的维度。

            [GOTO_ASSET_INVENTORY] 触发条件：
            - 5 个维度里至少聊清楚 3 个（business_fact 类别中 key 去重 ≥3）
            - 或累计轮数 ≥4
            - 或用户主动说"差不多就这些"/"我们可以进入下一步"

            过渡话术：先简要总结已了解到的主营业务核心（1-2 句），再自然过渡——"你的生意底子我大致了解了，接下来我们一起把你这个人的底牌也盘一盘，看看还有哪些牌你可能自己没注意到。"

            注意：本模式下 handoff_marker 绝大多数情况应该是 [GOTO_ASSET_INVENTORY]，不要轻易切到其他标记，除非用户非常明确地转去那个话题。

            ## Handoff 决策表

            | 条件 | handoff_marker | 过渡语要点 |
            |---|---|---|
            | refusal 模式达到 [GOTO_ASSET_INVENTORY] 触发条件 | [GOTO_ASSET_INVENTORY] | 用已收集事实自然过渡，不要突兀 |
            | fulltime 模式达到 [GOTO_ASSET_INVENTORY] 触发条件 | [GOTO_ASSET_INVENTORY] | 先总结主营要点，再过渡到"盘你这个人的底牌" |
            | 用户明确问园区/政策/公司注册/返税/发票 | [GOTO_PARK] | "好，那我们先聊聊政策和园区这块。" |
            | 用户明确说想要第一单/客户/怎么接单/怎么卖 | [GOTO_EXECUTION] | "好，那我们来聊聊怎么拿到第一单。" |
            | 用户明确说动不了/害怕/焦虑/拖延到怀疑人生 | [GOTO_MINDSET] | "嗯，这种感觉我懂。我们先聊聊这个。" |
            | 以上都不满足且未达 GOTO 条件 | [STAY_IN_FREE_CHAT] | 继续自然聊天 |

            ## 通用规则（两种模式都适用）

            每轮事实提取：
            - 从用户本轮输入里提取 0-3 个 L1 事实
            - 格式：{"category":"xxx","key":"yyy","value":"zzz"}
            - 把新事实追加进 next_collected_facts（基于已有的 collected_facts append），返回完整 JSON 字符串
            - 不要把模糊的空泛自评记成事实；用户说"我沟通能力强"时，下一轮追问"能说一个具体场景吗？"而不是直接记录

            绝对限制：
            - 禁止罐头话术、禁止功能清单、禁止"请选择"类按钮式语言
            - 禁止一次发两个问题
            - 所有用户可见文本必须使用简体中文
            - 不要在 followup_message 末尾自己再拼 handoff_marker（answer 节点会拼）
            - refusal 模式严禁主动提盘点、雷达图、报告、评分等产品词
            - fulltime_main_intake 模式可以用"等我们把主营摸清楚，就进正式的资产盘点"这类自然过渡
            - 不要暴露 L1 事实、collected_facts、handoff_marker 等内部字段名

            ## 输出要求

            - handoff_marker 必须精确是以下之一：[GOTO_ASSET_INVENTORY] / [GOTO_PARK] / [GOTO_EXECUTION] / [GOTO_MINDSET] / [STAY_IN_FREE_CHAT]。
            - next_round_count 必须是当前 round_count + 1 的字符串值。
            - next_collected_facts 必须是追加本轮新事实后的完整 JSON 数组字符串。
            - 用户输入可以模糊、跑题、重复目标、只表达意图，这不算 schema 错误。
            - 即使本轮没有收集到新事实，也必须返回完整 structured_output 对象：inferred_intent 设为 still_unclear，handoff_marker 设为 [STAY_IN_FREE_CHAT]，next_collected_facts 保持当前已收集事实的完整 JSON 字符串，followup_message 用自然语言继续缩窄下一问。
            - 不要因为用户回答不够具体就伪造事实写进 next_collected_facts，也绝不能输出 schema 外文本。
        - id: info-collection-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回复，像朋友聊天一样，末尾不要自己拼 handoff_marker
                type: string
              inferred_intent:
                description: 本轮推断出的用户倾向
                enum:
                - want_inventory
                - want_park
                - want_execution
                - want_mindset
                - still_unclear
                type: string
              handoff_marker:
                description: 交还主路由的标记
                enum:
                - '[GOTO_ASSET_INVENTORY]'
                - '[GOTO_PARK]'
                - '[GOTO_EXECUTION]'
                - '[GOTO_MINDSET]'
                - '[STAY_IN_FREE_CHAT]'
                type: string
              next_round_count:
                description: 递增后的轮数（整数字符串，例如 "1"）
                type: string
              next_collected_facts:
                description: 追加本轮新事实后的完整 JSON 字符串数组
                type: string
            required:
            - followup_message
            - inferred_intent
            - handoff_marker
            - next_round_count
            - next_collected_facts
            type: object
        structured_output_enabled: true
        title: 闲聊收集编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4600000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4600000002'
          - structured_output
          - inferred_intent
          variable_selector:
          - conversation
          - inferred_intent
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4600000002'
          - structured_output
          - next_round_count
          variable_selector:
          - conversation
          - round_count
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4600000002'
          - structured_output
          - next_collected_facts
          variable_selector:
          - conversation
          - collected_facts
          write_mode: over-write
        selected: false
        title: 写入闲聊收集状态
        type: assigner
        version: '2'
      height: 120
      id: '4600000003'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4600000002.structured_output.followup_message#}}

          {{#4600000002.structured_output.handoff_marker#}}
        selected: false
        title: 回复用户
        type: answer
        variables: []
      height: 102
      id: '4600000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
