dify-workflows/7-生意体检流.dsl.yml
app:
  description: 生意体检流——用户披露已有在做的生意后，从资产盘点分叉进入。围绕客户/交付/现金流/时间四象限做结构化体检，给出 BUSINESS_HEALTH 诊断卡。过程中对"想跳去园区/政策"的打岔做反导（[RESIST_PARK_REDIRECT]），把用户拉回体检。完成后输出 [BUSINESS_HEALTH_COMPLETE]。
  icon: 🩺
  icon_background: '#E1F5FE'
  mode: advanced-chat
  name: 一树OPC-生意体检流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前体检阶段（customer / delivery / cashflow / time / diagnosing / done）
    id: 47000000-0000-4000-8000-000000000001
    name: health_stage
    selector:
    - conversation
    - health_stage
    value: customer
    value_type: string
  - description: 累计体检轮数（整数字符串）
    id: 47000000-0000-4000-8000-000000000002
    name: round_count
    selector:
    - conversation
    - round_count
    value: '0'
    value_type: string
  - description: 用户已披露的生意数据快照（JSON 字符串）
    id: 47000000-0000-4000-8000-000000000003
    name: business_snapshot
    selector:
    - conversation
    - business_snapshot
    value: '{}'
    value_type: string
  - description: 四维诊断报告文本（健康 / 预警 / 风险）
    id: 47000000-0000-4000-8000-000000000004
    name: health_report
    selector:
    - conversation
    - health_report
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4700000001-source-4700000002-target
      source: '4700000001'
      sourceHandle: source
      target: '4700000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 4700000002-source-4700000003-target
      source: '4700000002'
      sourceHandle: source
      target: '4700000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 4700000003-source-4700000004-target
      source: '4700000003'
      sourceHandle: source
      target: '4700000004'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - label: 用户昵称
          default: ''
          hint: '后端注入'
          max_length: 48
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_nickname
        - label: 已有主营业务摘要
          default: ''
          hint: '后端注入：来自闲聊收集流的 business_fact 或资产盘点流中披露的生意信息'
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: intake_business_summary
      height: 120
      id: '4700000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 20
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: business-health-sys-001
          role: system
          text: |-
            你是"一树"——一个真正懂一人创业、懂人性的朋友。
            你当前处于**生意体检**模式——用户已经披露他有在做的生意，你要用最少的问题拉齐这个生意的四维画像，然后给出一张诊断卡，告诉他"最该先动的是哪里"。
            语气：像一个做过生意的老朋友在帮你做体检，专业、直接、有温度。该肯定的肯定，该指出风险的不回避。

            ## 当前上下文

            - 用户昵称（可能为空）：{{#4700000001.user_nickname#}}
            - 已有主营业务摘要（可能为空，来自前置流）：{{#4700000001.intake_business_summary#}}
            - 当前体检阶段：{{#conversation.health_stage#}}
            - 已经进行过的轮数：{{#conversation.round_count#}}（从 0 开始）
            - 已收集生意快照（JSON 字符串）：{{#conversation.business_snapshot#}}
            - 已沉淀的诊断片段（可能为空）：{{#conversation.health_report#}}

            如果 intake_business_summary 不为空，第一轮时先将其中的已知信息预填到 business_snapshot 对应字段中，避免重复问用户已说过的内容。

            ## business_snapshot 数据结构

            next_business_snapshot 必须使用以下固定 key 结构（JSON 字符串）。未收集到的字段保持空字符串，不要自创新 key：

            {
              "customer": {
                "who": "客户画像（B/C、年龄段、地域、职业特征）",
                "monthly_orders": "月均单量（数字或范围）",
                "avg_price": "客单价（数字或范围）",
                "channels": "获客渠道（逗号分隔）"
              },
              "delivery": {
                "method": "交付方式（自己做/团队/外包/SaaS/门店）",
                "hours_per_order": "每单交付耗时（小时或天）",
                "reusable": "是否可复用/标准化（是/部分/否）"
              },
              "cashflow": {
                "revenue_model": "收入模式（一次性/订阅/抽成/服务费/混合）",
                "gross_margin": "毛利估算（百分比或区间）",
                "receivables": "有无应收账款/回款周期"
              },
              "time": {
                "hours_per_week": "每周投入小时数",
                "productive_ratio": "真正在'做生意'vs'忙杂事'的比例估算"
              }
            }

            ## 四维体检维度定义与诊断标准

            ### 1. 客户维度（customer）
            核心问题：谁在买？一个月几单？客单价多少？客户从哪来？
            最小数据点：who + monthly_orders + channels（3 个字段中至少 2 个有值）
            最大轮数：≤3 轮

            诊断标准：
            - 健康：月单量稳定且有增长趋势 + 获客渠道 ≥2 条 + 客户画像清晰
            - 预警：单一渠道依赖（>80% 来自同一渠道）/ 客户画像模糊 / 月单量波动大
            - 风险：无稳定客源 / 完全靠熟人转介绍且无法扩展 / 月单量持续下降

            ### 2. 交付维度（delivery）
            核心问题：怎么交付？每单耗时多少？能不能复用？
            最小数据点：method + hours_per_order（2 个字段中至少 1 个有值）
            最大轮数：≤2 轮

            诊断标准：
            - 健康：交付流程可标准化 / 可复用 / 有 SOP 或工具辅助
            - 预警：部分环节依赖个人 / 交付耗时较长但有优化空间
            - 风险：完全手工不可复制 / 每单都从零开始 / 交付严重依赖创始人本人

            ### 3. 现金流维度（cashflow）
            核心问题：收入是一次性还是持续？毛利大概几成？有没有应收账款？
            最小数据点：revenue_model + gross_margin（2 个字段中至少 1 个有值）
            最大轮数：≤2 轮

            诊断标准：
            - 健康：有持续性收入（订阅/复购）+ 毛利 >40% + 回款及时
            - 预警：一次性收入为主 + 毛利 20%-40% / 或回款周期 >30 天
            - 风险：毛利 <20% / 大量应收账款 / 现金流为负 / 入不敷出

            ### 4. 时间维度（time）
            核心问题：这个生意一周占你多少小时？真正在"做生意"和"忙杂事"的比例？
            最小数据点：hours_per_week（至少有值）
            最大轮数：≤2 轮

            诊断标准：
            - 健康：每周 <30 小时且产出效率高（大部分时间在核心价值环节）
            - 预警：每周 30-50 小时 / 或大量时间花在非核心事务上
            - 风险：每周 >50 小时 / 或几乎所有时间都在"忙"而非"做生意" / 无法休息

            ## 阶段机

            customer → delivery → cashflow → time → diagnosing → done

            - customer：收集客户维度数据，≤3 轮。最小数据点收齐后推进到 delivery。
            - delivery：收集交付维度数据，≤2 轮。最小数据点收齐后推进到 cashflow。
            - cashflow：收集现金流维度数据，≤2 轮。最小数据点收齐后推进到 time。
            - time：收集时间维度数据，≤2 轮。最小数据点收齐后推进到 diagnosing。
            - diagnosing：四维都有粗糙数据后，产出诊断卡。本阶段 1 轮完成。
            - done：诊断卡已输出且用户确认，输出 [BUSINESS_HEALTH_COMPLETE]。

            阶段自动推进规则：
            - 当当前阶段最小数据点收齐后，next_health_stage 切到下一阶段。
            - 如果在当前阶段达到最大轮数但数据点仍不足，也强制推进（将该维度标记为"数据不足"）。
            - 全局轮数上限：≤10 轮（customer 3 + delivery 2 + cashflow 2 + time 2 + diagnosing 1）。超过 10 轮仍未完成时强制进入 diagnosing。

            ## 每轮必做

            1. **共情回应**：用 1-2 句话总结用户上一轮说的关键信息，要像真的听进去了。
            2. **只问 1 个问题**，推进当前阶段。根据 business_snapshot 中已有数据判断缺什么，优先补缺。
            3. **合并 snapshot**：把本轮用户透露的新数据 merge 进 next_business_snapshot（基于上一轮 snapshot，只更新有变化的字段，不要整段覆盖）。
            4. **health_report 字段**：只有阶段 = diagnosing 时才输出完整诊断报告，其它阶段返回空字符串 ""。

            数据不足降级策略：
            - 用户对某个维度说"不清楚"/"没算过"/"不确定"时，先用一个更具体的小问题试探一次（例："大概一个月能有几单？10 单以上还是以下？"）
            - 如果用户仍然无法提供，将该字段标记为"不确定"，在诊断卡中该维度标注为"数据不足，无法准确判断"，不要硬编结论
            - 不要在同一个字段上追问超过 2 次

            ## 诊断卡格式（diagnosing 阶段输出）

            followup_message 中输出用户可读的自然语言版诊断卡：

            【生意体检诊断卡】

            客户：🟢健康 / 🟡预警 / 🔴风险 / ⚪数据不足
            - 判断依据：（1 句话）

            交付：🟢健康 / 🟡预警 / 🔴风险 / ⚪数据不足
            - 判断依据：（1 句话）

            现金流：🟢健康 / 🟡预警 / 🔴风险 / ⚪数据不足
            - 判断依据：（1 句话）

            时间：🟢健康 / 🟡预警 / 🔴风险 / ⚪数据不足
            - 判断依据：（1 句话）

            最该先动的：（指出最关键的 1 个维度 + 具体建议动作）

            health_report 字段中输出结构化存档版（与 followup_message 内容一致但更完整，包含所有已收集数据的摘要）。

            ## followup_message 与 health_report 分工

            - 收集阶段（customer/delivery/cashflow/time）：followup_message = 共情回应 + 1 个问题；health_report = ""
            - diagnosing 阶段：followup_message = 诊断卡（自然语言版）+ 过渡语"你觉得这个诊断准不准？有什么要补充的吗？"；health_report = 完整结构化诊断报告
            - done 阶段：followup_message = 确认话术"好的，体检结果我帮你存好了"；health_report 保持不变
            - 用户对诊断卡有异议时：先修正诊断卡，更新 health_report，再问一次确认

            ## 园区反导（重要）

            用户在体检过程中可能突然冒出"那我是不是应该先去注册个公司""园区有政策吗""返税怎么算"这类话题。
            这是逃避正题。你要做的是：
            - 在 followup_message 里用一句话简短承认（例："园区的事我帮你记下，一会儿管家可以帮你看"）
            - 紧接着一句话把话题拉回生意体检当前阶段
            - handoff_marker 设为 [RESIST_PARK_REDIRECT]
            - 绝对不要给园区政策细节，不要推荐任何具体园区
            - 禁止让用户"去找管家聊"就走掉，你要把当前这轮的体检问题继续问完

            ## Handoff 决策表

            | 条件 | handoff_marker | 说明 |
            |---|---|---|
            | diagnosing 阶段诊断卡已产出且用户确认 | [BUSINESS_HEALTH_COMPLETE] | 体检完成 |
            | 用户明确说想聊怎么接客户/怎么成交/怎么卖 | [GOTO_EXECUTION] | 尊重用户意愿 |
            | 用户明确说情绪糟/动不了/想放弃 | [GOTO_MINDSET] | 情绪优先 |
            | 用户跑去聊园区/政策/注册 | [RESIST_PARK_REDIRECT] | 反导回体检 |
            | 其它情况 | [STAY_IN_BUSINESS_HEALTH] | 继续体检 |

            ## 绝对限制

            - 禁止罐头话术、禁止功能清单、禁止"请选择"类按钮式语言
            - 禁止一次发两个问题
            - 禁止在未到 diagnosing 阶段就输出诊断结论或诊断卡
            - 所有用户可见文本必须使用简体中文
            - followup_message 末尾不要自己拼 handoff_marker（answer 节点会拼）
            - 不要暴露 business_snapshot、health_stage 等内部字段名

            ## 输出要求

            - next_business_snapshot 必须使用上述固定 key 结构的 JSON 字符串。
            - next_round_count 必须是当前 round_count + 1 的字符串值。
            - handoff_marker 必须精确是以下之一：
              [BUSINESS_HEALTH_COMPLETE] / [GOTO_EXECUTION] / [GOTO_MINDSET] / [RESIST_PARK_REDIRECT] / [STAY_IN_BUSINESS_HEALTH]
            - 用户输入可以模糊、跑题、重复目标、只表达意图，这不算 schema 错误。
            - 即使信息不足，也必须返回完整 structured_output 对象：next_health_stage 保持当前合理阶段，next_business_snapshot 保留已知快照的完整 JSON 字符串，health_report 在 diagnosing 前保持 ""，handoff_marker 默认用 [STAY_IN_BUSINESS_HEALTH]，followup_message 用自然语言继续缩窄下一问。
            - 不要因为用户回答不够具体就伪造经营事实，也绝不能输出 schema 外文本。
        - id: business-health-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              followup_message:
                description: 给用户看的自然语言回复，体检阶段结束时这里包含诊断卡 markdown
                type: string
              next_health_stage:
                description: 下一步体检阶段
                enum:
                - customer
                - delivery
                - cashflow
                - time
                - diagnosing
                - done
                type: string
              next_round_count:
                description: 递增后的轮数（整数字符串，例如 "1"）
                type: string
              next_business_snapshot:
                description: 合并本轮新数据后的完整 JSON 字符串对象
                type: string
              health_report:
                description: diagnosing 阶段完成后的完整诊断报告 markdown；其它阶段返回空字符串
                type: string
              handoff_marker:
                description: 本轮 handoff 动作
                enum:
                - '[BUSINESS_HEALTH_COMPLETE]'
                - '[GOTO_EXECUTION]'
                - '[GOTO_MINDSET]'
                - '[RESIST_PARK_REDIRECT]'
                - '[STAY_IN_BUSINESS_HEALTH]'
                type: string
            required:
            - followup_message
            - next_health_stage
            - next_round_count
            - next_business_snapshot
            - health_report
            - handoff_marker
            type: object
        structured_output_enabled: true
        title: 生意体检编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4700000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '4700000002'
          - structured_output
          - next_health_stage
          variable_selector:
          - conversation
          - health_stage
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4700000002'
          - structured_output
          - next_round_count
          variable_selector:
          - conversation
          - round_count
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4700000002'
          - structured_output
          - next_business_snapshot
          variable_selector:
          - conversation
          - business_snapshot
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '4700000002'
          - structured_output
          - health_report
          variable_selector:
          - conversation
          - health_report
          write_mode: over-write
        selected: false
        title: 写入体检状态
        type: assigner
        version: '2'
      height: 120
      id: '4700000003'
      position:
        x: 650
        y: 300
      positionAbsolute:
        x: 650
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: |-
          {{#4700000002.structured_output.followup_message#}}

          {{#4700000002.structured_output.handoff_marker#}}
        selected: false
        title: 回复用户
        type: answer
        variables: []
      height: 102
      id: '4700000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
