dify-workflows/9-机会深聊立项流.dsl.yml
app:
  description: '机会深聊立项流——Advanced Chat。围绕已选商业方向追问目标用户、交付边界、验证动作；信息足够时输出 deep_dive_result 隐藏块。'
  icon: 🧭
  icon_background: '#E9F8F3'
  mode: advanced-chat
  name: 一树OPC-机会深聊立项流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.24@e0c0e5847fb5f51c3a4620933dc25f6014ed2c8b754fe9ba634d3cc333951bb1
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 累计深聊摘要
    id: 49000000-0000-4000-8000-000000000001
    name: deep_dive_summary
    selector:
    - conversation
    - deep_dive_summary
    value: ''
    value_type: string
  - description: Dify 快照版本
    id: 49000000-0000-4000-8000-000000000002
    name: context_version
    selector:
    - conversation
    - context_version
    value: ''
    value_type: string
  - description: Dify 快照刷新时间
    id: 49000000-0000-4000-8000-000000000003
    name: context_refreshed_at
    selector:
    - conversation
    - context_refreshed_at
    value: ''
    value_type: string
  - description: Dify 快照元信息
    id: 49000000-0000-4000-8000-000000000004
    name: snapshot_meta
    selector:
    - conversation
    - snapshot_meta
    value: '{}'
    value_type: string
  - description: 用户画像快照
    id: 49000000-0000-4000-8000-000000000005
    name: user_profile
    selector:
    - conversation
    - user_profile
    value: ''
    value_type: string
  - description: 周报上下文
    id: 49000000-0000-4000-8000-000000000006
    name: weekly_report
    selector:
    - conversation
    - weekly_report
    value: ''
    value_type: string
  - description: 月报上下文
    id: 49000000-0000-4000-8000-000000000007
    name: monthly_report
    selector:
    - conversation
    - monthly_report
    value: ''
    value_type: string
  - description: 成长上下文
    id: 49000000-0000-4000-8000-000000000008
    name: growth_context
    selector:
    - conversation
    - growth_context
    value: ''
    value_type: string
  - description: 已选方向
    id: 49000000-0000-4000-8000-000000000009
    name: selected_direction
    selector:
    - conversation
    - selected_direction
    value: '{}'
    value_type: string
  - description: 当前验证问题
    id: 49000000-0000-4000-8000-000000000010
    name: current_validation_question
    selector:
    - conversation
    - current_validation_question
    value: ''
    value_type: string
  - description: 机会草稿
    id: 49000000-0000-4000-8000-000000000011
    name: opportunity_workspace
    selector:
    - conversation
    - opportunity_workspace
    value: '{}'
    value_type: string
  environment_variables: []
  features:
    file_upload: { enabled: false }
    opening_statement: ''
    retriever_resource: { enabled: false }
    sensitive_word_avoidance: { enabled: false }
    speech_to_text: { enabled: false }
    suggested_questions: []
    suggested_questions_after_answer: { enabled: false }
    text_to_speech: { enabled: false, language: '', voice: '' }
  graph:
    edges:
    - data: { isInLoop: false, sourceType: start, targetType: llm }
      id: 4900000001-source-4900000002-target
      source: '4900000001'
      sourceHandle: source
      target: '4900000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data: { isInLoop: false, sourceType: llm, targetType: answer }
      id: 4900000002-source-4900000003-target
      source: '4900000002'
      sourceHandle: source
      target: '4900000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 深聊输入
        type: start
        variables:
        - label: 已选方向
          default: '{}'
          hint: '后端注入'
          max_length: 12000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: selected_direction
        - label: 已有深聊摘要
          default: ''
          hint: '后端每轮同步'
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: deep_dive_summary
        - label: 当前验证问题
          default: ''
          hint: '后端每轮同步'
          max_length: 4000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_validation_question
        - label: 机会草稿
          default: '{}'
          hint: '后端注入'
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: opportunity_workspace
        - label: 用户画像
          default: ''
          hint: '后端注入'
          max_length: 20000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: user_profile
      height: 260
      id: '4900000001'
      position: { x: 40, y: 300 }
      positionAbsolute: { x: 40, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context: { enabled: false, variable_selector: [] }
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix: { assistant: '', user: '' }
          window: { enabled: true, size: 8 }
        model:
          completion_params: { temperature: 0.45 }
          mode: chat
          name: glm-5
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: deep-dive-sys
          role: system
          text: |-
            你是一树的“机会深聊”智能体。你要把一个商业方向追问到可以立项验证。
            每轮只问 1 个最关键问题。不要让用户做复杂作业。
            当信息不足时，输出自然中文回答，并在末尾附隐藏块：
            <deep_dive_result>{"assistantText":"给用户看的同一段回答","readyToInitiate":false,"deepDiveSummary":"累计摘要","currentValidationQuestion":"下一问","initiationSummary":null}</deep_dive_result>

            当已足够立项时，输出简短中文说明，并附隐藏块：
            <deep_dive_result>{
              "assistantText":"给用户看的说明",
              "readyToInitiate":true,
              "deepDiveSummary":"累计摘要",
              "currentValidationQuestion":"第一步验证动作",
              "initiationSummary":{
                "projectName":"项目名",
                "oneLinePositioning":"一句话定位",
                "targetUser":"目标用户",
                "coreOffer":"核心交付",
                "deliveryMode":"交付方式",
                "pricingHypothesis":"价格/变现假设",
                "firstCycleGoal":"首轮目标",
                "firstCycleTasks":["任务1","任务2","任务3"],
                "successCriteria":["成功标准"],
                "killCriteria":["停止标准"],
                "evidenceNeeded":["证据需求"],
                "riskNotes":["风险提醒"]
              }
            }</deep_dive_result>
        - id: deep-dive-user
          role: user
          text: |-
            已选方向：
            {{#4900000001.selected_direction#}}
            {{#conversation.selected_direction#}}

            已有深聊摘要：
            {{#4900000001.deep_dive_summary#}}
            {{#conversation.deep_dive_summary#}}

            当前验证问题：
            {{#4900000001.current_validation_question#}}
            {{#conversation.current_validation_question#}}

            机会草稿：
            {{#4900000001.opportunity_workspace#}}
            {{#conversation.opportunity_workspace#}}

            用户画像：
            {{#4900000001.user_profile#}}
            {{#conversation.user_profile#}}

            周报：
            {{#conversation.weekly_report#}}

            月报：
            {{#conversation.monthly_report#}}

            成长上下文：
            {{#conversation.growth_context#}}
        selected: false
        title: 深聊判断器
        type: llm
        vision: { enabled: false }
      height: 87
      id: '4900000002'
      position: { x: 350, y: 300 }
      positionAbsolute: { x: 350, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#4900000002.text#}}'
        selected: false
        title: 深聊回复
        type: answer
      height: 107
      id: '4900000003'
      position: { x: 660, y: 300 }
      positionAbsolute: { x: 660, y: 300 }
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport: { x: 40, y: 20, zoom: 0.9 }
  rag_pipeline_variables: []
