dify-workflows/资产盘点-首次盘点 .yml
app:
  description: 首次资产盘点流——从零开始，按四个维度逐步收集用户底牌，完成后通知后端调用报告生成流。
  icon: 🤖
  icon_background: '#E8F5E9'
  mode: advanced-chat
  name: 资产盘点-首次盘点
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.42@cf508badd3f6c086c137a6034697e0c48a60038783b3c3ed0af2fe55000842e8
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 当前盘点阶段
    id: 41000000-0000-4000-8000-000000000001
    name: inventory_stage
    selector:
    - conversation
    - inventory_stage
    value: opening
    value_type: string
  - description: 已确认的资产画像快照
    id: 41000000-0000-4000-8000-000000000002
    name: profile_snapshot
    selector:
    - conversation
    - profile_snapshot
    value: ''
    value_type: string
  - description: 四个维度的小报告累计
    id: 41000000-0000-4000-8000-000000000003
    name: dimension_reports
    selector:
    - conversation
    - dimension_reports
    value: ''
    value_type: string
  - description: 下一问
    id: 41000000-0000-4000-8000-000000000004
    name: next_question
    selector:
    - conversation
    - next_question
    value: ''
    value_type: string
  - description: 报告生成摘要
    id: 41000000-0000-4000-8000-000000000005
    name: report_brief
    selector:
    - conversation
    - report_brief
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '我们来正式盘一下你的底牌。

      这不是一次填表，是一场深度对话。

      我会陪你从四个维度慢慢盘：能力、资源、认知、关系。

      每完成一个维度，我会先给你一个小报告，你来确认准不准、有没有要补的，再往下一步走。

      先从最近 3-5 年里，你做成过的一件具体事情说起。'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 4100000001-source-4100000002-target
      source: '4100000001'
      sourceHandle: source
      target: '4100000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 4100000002-source-4100000004-target
      source: '4100000002'
      sourceHandle: source
      target: '4100000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-ready-4100000005-target
      source: '4100000004'
      sourceHandle: ready_case
      target: '4100000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 4100000004-false-4100000006-target
      source: '4100000004'
      sourceHandle: 'false'
      target: '4100000006'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: 后端在从主对话流切换过来时注入，帮助盘点流了解上下文
          label: 来自主对话流的用户背景摘要
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: intake_summary
        - default: opening
          label: 当前盘点阶段
          max_length: 256
          options: []
          required: false
          type: text-input
          variable: current_stage
        - default: ''
          label: 当前资产画像快照
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_profile_snapshot
        - default: ''
          label: 当前维度小报告
          max_length: 8000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_dimension_reports
        - default: ''
          label: 当前下一问
          max_length: 2000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_next_question
        - default: ''
          label: 当前报告摘要
          max_length: 12000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: current_report_brief
        - default: 'false'
          label: 后端是否判定可出报告
          max_length: 16
          options: []
          required: false
          type: text-input
          variable: backend_ready_for_report
      height: 264
      id: '4100000001'
      position:
        x: 40
        y: 300
      positionAbsolute:
        x: 40
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 15
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-5.4-mini
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: first-inv-sys-001
          role: system
          text: "你是\"一树\"的深度资产盘点教练（参考《Ikigai》《StrengthsFinder 2.0》《Range》）。\n老朋友口吻，懂创业、懂人性，用真实案例把人从空泛自评里拽出来。温和但不迎合，允许沉默，不追快。\n\
            \n定位：≥15 轮 / 每维度 ≥3 轮，宁慢勿跳。用户想草草收尾时温和坚持\"这块我还想多听一层\"。\n\n背景摘要（仅破冰参考，不等于已确认资产）：\n\
            {{#4100000001.intake_summary#}}\n\n当前状态（后端合并后的最新值）：\n- 阶段：{{#4100000001.current_stage#}}\n\
            - 快照：{{#4100000001.current_profile_snapshot#}}\n- 小报告：{{#4100000001.current_dimension_reports#}}\n\
            - 后端判定可出报告：{{#4100000001.backend_ready_for_report#}}\n\n## 四大资产维度\n\n\
            1. 能力：技能 / 动作 / 解决手法（从真实行为提炼）\n2. 资源：渠道 / 货源 / 工具 / 权限 / 可调动的人和物\n3. 认知：行业理解\
            \ / 判断 / 信息差 / 方法论 / 跨界复利\n4. 关系：信任网 / 熟人 / 圈层 / 遇难会出手的人\n\n## 阶段机\n\n\
            opening → ability → resource → cognition → relationship → ready_for_report\n\
            特殊：correction_loop\n\n- opening：破冰，取 1-2 个真实案例\n- ability：能力，从行为提炼优势主题（执行\
            \ / 影响 / 战略 / 关系）\n- resource：资源\n- cognition：认知，重点挖跨界复利\n- relationship：关系\n\
            - ready_for_report：仅当后端传入 backend_ready_for_report=true 时才能输出\n- correction_loop：无具体案例\
            \ / 四维不足 2 个中等以上 / 全是兴趣和通用能力 / 无付费信号。触发后 followup_message 必须明确指出问题，只做两类动作——强制补真实案例、或建议缩小范围。\n\
            \n每个维度完成后的小报告与对齐动作统一由下方\"对齐规则\"管理。\n\n## 维度完成与对齐规则\n\n维度小报告输出时：followup_message\
            \ 先输出【XX资产小报告】全文 + 一句自然过渡（不含问句），next_question 问\"这样准不准？有要补的吗？\"；仅当用户确认或补充后\
            \ stage 才推进，未对齐前保持在当前维度；用户补充新信息时，先合并进快照和小报告，再问一次是否 OK。\n\n切维硬规则：\n- 同一个维度下，对同一个案例或同一种证据缺口，最多只允许\
            \ 2 次深挖追问；第 3 次必须产出该维度小报告并推进到下一维，不能继续问同义问题。\n- opening 阶段拿到 1 个真实案例 +\
            \ 1 个具体动作/结果后，就必须进入 ability，不要继续停留在 opening。\n- ability 阶段只要已经同时拿到：1 个真实闭环案例、1\
            \ 个结果证据、1 个可迁移动作/方法，就必须输出【能力资产小报告】并推进到 resource；不能因为用户还没回答得\"完美\"而无限追问。\n\
            - resource / cognition / relationship 也遵循同样原则：每个维度只要已经能写出该维度小报告，就先收口到该维度小报告，再推进下一维；不允许为了追求更完整而卡住整轮盘点。\n\
            - 如果证据仍有不确定性，就把\"不确定/待验证\"写进当前判断，而不是继续留在原维度死问。\n\n## 资产判定\n\n核心资产须满足 ≥2\
            \ 项：可重复使用 / 市场验证 / 可转化收入 / 不完全依赖时间\n兴趣、努力、学历证书、通用基础能力 ≠ 核心资产。高杠杆 > 时间型。\n\
            重点识别用户常低估的：组合能力、跨界经验、信息优势、可快速调用资源。\n\n强可变现能力须满足 ≥3 项：明确用户群 / 有痛点 / 市场已有付费\
            \ / 能交付结果而非过程 / 不易被替代\n仅满足 1-2 项 = 潜力项。基础沟通、基础执行、普通勤奋不算强可变现。\n\n## 对话规则\n\
            \n- 只问真实行为，模糊时追问时间 / 场景 / 动作 / 结果\n- 每轮 1 问，只追当前维度；先案例 → 提炼 → 判断\n- 自我否定时指出具体优势，发散时收敛\
            \ ≤3 个核心\n- 同一缺口最多连续追问 2 轮；如果用户两轮都没给出新信息，不要第三次重复同义问题，要把不确定性写进当前判断，然后继续推进当前维度对齐或进入下一维度\n\
            - 用户明确要求\"如果够了就生成报告\"时：若 backend_ready_for_report=false，只指出 1 个最关键缺口并追问\
            \ 1 个具体事实；若 backend_ready_for_report=true，立即收口，不再继续追新证据\n- 如果用户连续 2 轮重复\"\
            我想验证付费闭环 / 我想看能不能卖 / 我想看能不能变现\"这类目标句，而没有补新的事实，不要再重复问同义案例题；要明确指出\"你在重复目标，不是在补证据\"\
            ，然后只问一个更窄的新问题，或直接按切维硬规则推进。\n- 当用户已经给出新的真实案例、结果证据或方法动作时，必须承认\"这是新证据\"，并据此推进；不要把有新信息的回答误判成\"\
            仍在重复目标\"。\n\n## 小报告格式（四维通用）\n\n【XX资产小报告】\n- 已识别资产：\n- 证据案例 / 可调用资源 / 独特判断\
            \ / 信任网络：\n- 可迁移性 / 稀缺性 / 组合优势 / 第一单帮助可能性：\n- 初步变现性：强 / 中 / 弱\n- 当前判断：\n\
            \n## Patch 规则\n\n只保留用户明确说过的，不脑补，不丢失已确认信息。\nprofile_snapshot_patch 只返回本轮新增或需要改写的标题段落，不要把没变化的标题段整段重写。\n\
            profile_snapshot_patch 的标题只能来自固定结构：【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】【四圈线索】【优势分型线索】【跨界复利线索】【内部判断】\n\
            profile_snapshot_patch 严格示例：\n【能力资产】\n- 通过连续 3 年独立完成招生转化，形成了从线索筛选、话术调整到成交跟进的完整闭环能力。\n\
            - 更擅长在信息不完整的情况下快速推进，而不是做长期复杂规划。\ndimension_reports_patch 只返回本轮新增或需要改写的小报告段落；没变化时返回\
            \ \"\"。\ndimension_reports_patch 严格示例：\n【能力资产小报告】\n- 已识别资产：招生转化闭环、复杂问题拆解、现场推进\n\
            - 证据案例 / 可调用资源 / 独特判断 / 信任网络：有连续 3 年一线转化记录，能根据不同客户状态即时调整表达和推进顺序\n- 可迁移性\
            \ / 稀缺性 / 组合优势 / 第一单帮助可能性：可迁移到咨询销售、项目推进、陪跑服务，和行业理解结合后更容易形成首单\n- 初步变现性：强\n\
            - 当前判断：这不是普通沟通，而是可直接转成结果的成交推进能力。\nreport_brief_patch 只在 ready_for_report\
            \ 或需要明显修订摘要时填写，否则返回 \"\"。\n\n## 阶段输出分工\n\n- 收集中：followup_message 做简短复述\
            \ / 共情 / 过渡，不含问句；next_question 放 1 个关键追问\n- 维度刚完成：followup_message 输出该维度小报告\
            \ + 过渡总结，不含问句；next_question 放对齐问题；如果已满足切维硬规则，不允许继续追当前维度的同义问题\n- 用户确认对齐后：followup_message\
            \ 简短承接\"好，我们继续\"，next_question 放下一维度的第 1 个关键问题\n- ready_for_report：一旦\
            \ backend_ready_for_report=true，就停止继续追问，next_question 置空，followup_message\
            \ 做收口承接，report_brief_patch 必须包含——四维核心结论、四圈交汇点、优势分型、跨界复利线索、三项核心资产候选、强可变现\
            \ vs 潜力项、强纠偏结论\n- 是否满足 ready_for_report 不由你自行判断；只有当 backend_ready_for_report=true\
            \ 时，stage 才能输出 ready_for_report，否则保持在当前收集阶段或 correction_loop\n- backend_ready_for_report=true\
            \ 只表示“后端允许你开始收口”，不等于“你现在就能直接 ready_for_report”。只有在以下条件同时满足时，stage 才能输出\
            \ ready_for_report：\n  1. 【能力资产小报告】【资源资产小报告】【认知资产小报告】【关系资产小报告】四段都已经完整存在\n\
            \  2. profile_snapshot_patch / current_profile_snapshot 已经覆盖【真实案例】【能力资产】【资源资产】【认知资产】【关系资产】这些核心块\n\
            \  3. report_brief_patch 能一次性写出四维核心结论、四圈交汇点、优势分型、跨界复利线索、三项核心资产候选、强可变现\
            \ vs 潜力项、强纠偏结论\n- 只要上面三项有任一项不满足，就禁止输出 ready_for_report；此时应该继续留在当前维度或对齐环节，把缺的段落补齐，而不是提前触发正式报告生成。\n\
            \n## 输出硬约束\n\n- 你必须只输出符合 structured_output schema 的对象，不能输出任何 schema 外的自然语言、解释、前言、后记、markdown\
            \ 包裹、代码块或示例。\n- followup_message 和 next_question 是给用户看的自然语言，但它们也必须放在 schema\
            \ 字段里，不能直接裸写在对象外。\n- 即使你只想说一句话，也必须返回完整对象，包含所有 required 字段；没有内容的 patch\
            \ 字段返回 \"\"。\n- 禁止输出形如\"收到，我们继续...\"这类裸文本回复；这会导致工作流失败。\n- 自检：输出前确认结果能被直接解析为一个\
            \ object，且只包含 followup_message / next_question / dimension_reports_patch\
            \ / profile_snapshot_patch / report_brief_patch / stage。\n- 合规示例：\n  {\"\
            stage\":\"ability\",\"followup_message\":\"我先把这层记住。\",\"next_question\"\
            :\"这件事里你亲手做了哪一步？\",\"dimension_reports_patch\":\"\",\"profile_snapshot_patch\"\
            :\"\",\"report_brief_patch\":\"\"}\n- 违规示例：\n  收到，我们继续把真实案例钉紧一点。\n  这件事里你亲手做了哪一步？\n\
            \nfollowup_message 与 next_question 不可重复或同义。不要把 stage、profile_snapshot_patch\
            \ 等内部字段名暴露给用户。简体中文。"
        - id: first-inv-user-001
          role: user
          text: '{{#sys.query#}}'
        selected: true
        structured_output:
          schema:
            additionalProperties: false
            properties:
              dimension_reports_patch:
                description: 仅包含本轮新增或改写的维度小报告段落；未变化时返回空字符串
                type: string
              followup_message:
                description: 给用户看的自然语言复述、过渡语或小报告，不得包含问题句，不得重复 next_question
                type: string
              next_question:
                description: 当前最关键的下一问，必须只包含一个问题句，若已可出报告则可为空
                type: string
              profile_snapshot_patch:
                description: 仅包含本轮新增或改写的资产画像标题段落；未变化时返回空字符串
                type: string
              report_brief_patch:
                description: 仅在 ready_for_report 或需要明显修订摘要时填写的摘要 patch
                type: string
              stage:
                description: 当前阶段
                enum:
                - opening
                - ability
                - resource
                - cognition
                - relationship
                - ready_for_report
                - correction_loop
                type: string
            required:
            - stage
            - profile_snapshot_patch
            - dimension_reports_patch
            - next_question
            - followup_message
            - report_brief_patch
            type: object
        structured_output_enabled: true
        title: 首次盘点编排器LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '4100000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: ready_case
          conditions:
          - comparison_operator: is
            id: 41000000-cond-4000-8000-000000000001
            value: ready_for_report
            varType: string
            variable_selector:
            - '4100000002'
            - structured_output
            - stage
          id: ready_case
          logical_operator: and
        selected: false
        title: 是否盘点完成
        type: if-else
      height: 123
      id: '4100000004'
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '盘点完成！正在生成你的专属资产报告，请稍候……


          [INVENTORY_COMPLETE]'
        selected: false
        title: 通知后端生成报告
        type: answer
        variables: []
      height: 131
      id: '4100000005'
      position:
        x: 1250
        y: 200
      positionAbsolute:
        x: 1250
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#4100000002.structured_output.followup_message#}}


          {{#4100000002.structured_output.next_question#}}'
        selected: false
        title: 继续追问回复
        type: answer
        variables: []
      height: 121
      id: '4100000006'
      position:
        x: 1250
        y: 420
      positionAbsolute:
        x: 1250
        y: 420
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 40
      y: 20
      zoom: 0.72
  rag_pipeline_variables: []
